.blenderContainerScroll {
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
}

.blenderContainerScroll::-webkit-scrollbar {
    display: block;
    width: 6px;
    background-color: transparent;
    border-radius: 10px;
    overflow: visible;
}

.blenderContainerScroll::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 100px;
}

.blenderContainer {
    width: 100vw;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    padding: 0px 80px;
}

.blenderContainer .head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blenderContainer .head svg {
    width: 25px;
    height: 25px;
}

.blenderContainer .head h1 {
    margin-top: 30px;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
}

.blenderContainer .head p {
    margin-top: 20px;
    font-size: 20px;
    width: 70%;
    text-align: center;
}


.blenderContainer .blenderGenerator {
    width: 100%;
    max-width: 960px;
    align-self: center;
    background-color: #fff;
    margin-top: 45px;
    display: flex;
    position: relative;
}

.blenderContainer .blenderGenerator .blenderWrapper {
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1;
    border: 1px solid #DCDCDC;
    border-radius: 25px;
    display: flex;
}

.blenderContainer .blenderGenerator .leftSide {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    min-width: 300px;
    background-color: #FAFAFA;
    border-radius: 25px 0px 0px 25px;
    padding: 40px 20px;
}

.blenderContainer .blenderGenerator .leftSide h2 {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    position: relative;
    width: max-content;
    cursor: pointer;
}

.blenderContainer .blenderGenerator .leftSide .row {
    margin-top: 30px;
    position: relative;
}

.blenderContainer .blenderGenerator .leftSide .row .colorPicker {
    position: absolute;
    z-index: 10;
    right: -112px;
    padding: 10px;
    padding-bottom: 0px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #DCDCDC;
}

.blenderContainer .blenderGenerator .leftSide .row label {
    font-size: 14px;
    font-weight: 600;
}

.blenderContainer .blenderGenerator .leftSide .row .wrapper {
    position: relative;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #dcdcdc;
    overflow: hidden;
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.blenderContainer .blenderGenerator .leftSide .row input {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0px 10px;
    font-size: 14px;
    text-transform: uppercase;
}

.blenderContainer .blenderGenerator .leftSide .row span {
    display: block;
    position: absolute;
    border-radius: 5px;
    width: 25px;
    height: 25px;
    right: 10px;
    border: 1px solid #DCDCDC;
    background-color: red;
}

.blenderContainer .blenderGenerator .leftSide .row .wrapperRange {
    margin-top: 10px;
    width: 100%;
}

.blenderContainer .blenderGenerator .leftSide .row .range {
    -webkit-appearance: none;
    appearance: none;
    width: calc(100% - 0px);
    /* Adjust for thumb size */
    height: 2px;
    background: linear-gradient(to right, #0078FF 0%, #0078FF 0%, #ddd 0%, #ddd 100%);
    outline: none;
    opacity: 1;
    transition: background 0.2s;
    margin: 0;
    /* Add margin to adjust for thumb size */
    padding: 0;
}

.blenderContainer .blenderGenerator .leftSide .row .range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #0078FF;
    border: 4px solid #fff;
    cursor: pointer;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.blenderContainer .blenderGenerator .leftSide .row .range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #0078FF;
    border: 4px solid #fff;
    cursor: pointer;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.blenderContainer .blenderGenerator .leftSide .info {
    margin-top: 30px;
    font-size: 10px;
    color: #808080;
}

.blenderContainer .blenderGenerator .leftSide .info a {
    color: #808080;
    text-decoration: none;
}

.blenderContainer .blenderGenerator .leftSide .info a:hover {
    color: blue;
    text-decoration: underline
}

.blenderContainer .blenderGenerator .rightSide {
    padding: 40px 80px;
    width: 100%;
}

.blenderContainer .blenderGenerator .rightSide .wrapper {
    display: flex;
    width: 100%;
    max-width: 507px;
    border-radius: 10px;
    overflow: hidden;
}

.blenderContainer .blenderGenerator .rightSide .wrapper .box {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.blenderContainer .blenderGenerator .rightSide .wrapper .box:hover {
    width: 1000% !important;
    max-width: 200px;
    min-width: 150px;
}

.blenderContainer .blenderGenerator .rightSide .wrapper .box:hover .info {
    display: flex;
}

.blenderContainer .blenderGenerator .rightSide .wrapper .box .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    display: none;
}

.blenderContainer .blenderGenerator .rightSide .wrapper .box .info svg {
    width: 25px;
    height: 25px;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}

.blenderContainer .blenderGenerator .rightSide .wrapper .box .info span:nth-child(2) {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.blenderContainer .blenderGenerator .rightSide .wrapper .box .info span:nth-child(3) {
    margin-top: 5px;
    font-size: 8px;
    text-transform: capitalize
}

.blenderContainer .blenderGenerator .rightSide a {
    display: block;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #0078FF;
}

.blenderContainer .blenderGenerator .rightSide a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1100px) {
    .blenderContainer .blenderGenerator .blenderWrapper {
        display: flex;
        flex-direction: column;
    }

    .blenderContainer .blenderGenerator .leftSide {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        padding: 40px 40px;
    }

    .blenderContainer .blenderGenerator .rightSide {
        padding: 40px 40px;
    }

    .blenderContainer .blenderGenerator .rightSide .wrapper {
        width: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 650px) {
    .blenderContainer .blenderGenerator .leftSide .row .colorPicker {
        right: 0px;
    }

    .blenderContainer {
        padding: 0px 20px;
    }

    .blenderContainer .head h1 {
        font-size: 26px;
        width: 100%;
    }

    .blenderContainer .head p {
        font-size: 16px;
        width: 100%;
    }
}