.testimonialContainer {
    margin-top: 50px;
    padding: 70px 80px;
    background: rgba(0, 120, 255, 0.05);
}

.testimonialContainer .info {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    padding-bottom: 20px;
    border-bottom: 0.5px solid #002F27;
    position: relative;
}

.testimonialContainer .info .arrowSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonialContainer .info .leftArrow {
    cursor: pointer;
    position: absolute;
    left: -10%;
}

.testimonialContainer .info .rightArrow {
    cursor: pointer;
    position: absolute;
    right: -10%;
}

.testimonialContainer .info p {
    color: #001833;
    font-size: 28px;
    font-weight: 500;
    margin: 20px 0px;
}

.testimonialContainer .user {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.testimonialContainer .user span:nth-child(1) {
    color: #001833;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.4px;
}

.testimonialContainer .user span:nth-child(2) {
    color: #001833;
    font-size: 14px;
    letter-spacing: 0.28px;
}

.testimonialContainer .svgContainer {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonialContainer .svgContainer svg {
    margin: 0px 40px;
}

@media screen and (max-width: 960px) {
    .testimonialContainer {
        padding: 70px 20px;
    }

    .testimonialContainer .info p {
        font-size: 24px;
    }

    .testimonialContainer .user span:nth-child(1) {
        font-size: 16px;
    }

    .testimonialContainer .user span:nth-child(2) {
        font-size: 12px;
    }
}


@media screen and (max-width: 768px) {
    .testimonialContainer .info p {
        font-size: 18px;
    }

    .testimonialContainer .user span:nth-child(1) {
        font-size: 12px;
    }

    .testimonialContainer .user span:nth-child(2) {
        font-size: 10px;
    }

    .testimonialContainer .svgContainer svg {
        margin: 0px 10px;
        width: 100px;
    }
}

@media screen and (max-width: 550px) {
    .testimonialContainer .info .leftArrow {
        left: -16%;
    }

    .testimonialContainer .info .rightArrow {
        right: -16%;
    }
}