.planPeriodContainer {
    margin-top: 100px;
    padding: 0px 80px;
}

.planPeriodContainer .grid {
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(314px, 314px));
    gap: 50px;
}

.planPeriodContainer .card {
    border-radius: 10px;
    border: 1px solid #E8E8E8;
    width: 314px;
    max-width: 314px !important;
    height: 326px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #fff;
}

.planPeriodContainer .title {
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 0.44px;
}

.planPeriodContainer .card .month {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.48px;
}

.planPeriodContainer .card .originalPrice {
    margin-top: 40px;
    text-decoration: line-through;
    color: #404040;
    font-size: 18px;
    letter-spacing: 0.36px;
}

.planPeriodContainer .card p {
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 0.96px;
}

.planPeriodContainer .card p span {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.36px;
}

.planPeriodContainer .card button {
    width: 100px;
    height: 30px;
    border-radius: 50px;
    background: #C4C4C4;
    border: none;
    position: absolute;
    top: -15px;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.28px;
}

.planPeriodContainer .card .checkBox {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #C4C4C4;
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.planPeriodContainer .card .check {
    height: 15px;
    width: 15px;
    background-color: #0078FF;
    border-radius: 50%;
}

.planPeriodContainer .card .free {
    color: #0078FF;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.36px;
}

.planPeriodContainer .checkBoxActive {
    border: 4px solid #0078FF !important;
}

.planPeriodContainer .active {
    background-color: #0078FF !important;
}

@media screen and (max-width: 960px) {
    .planPeriodContainer {
        padding: 0px 20px;
    }

    .planPeriodContainer .title {
        font-size: 36px;
    }
}

@media screen and (max-width: 768px) {
    .planPeriodContainer .title {
        font-size: 26px;
    }

    .planPeriodContainer .card .month {
        font-size: 20px;
    }

    .planPeriodContainer .card {
        width: 260px;
        height: 300px;
    }

    .planPeriodContainer .card .checkBox {
        width: 25px;
        height: 25px;
    }

    .planPeriodContainer .checkBoxActive {
        border: 6px solid #0078FF !important;
    }

    .planPeriodContainer .card .free {
        font-size: 16px;
    }

    .planPeriodContainer .card .originalPrice {
        font-size: 16px;
    }

    .planPeriodContainer .card p {
        font-size: 36px;
    }

    .planPeriodContainer .card .free {
        font-size: 16px;
    }

    .planPeriodContainer .grid {
        grid-template-columns: repeat(auto-fit, minmax(270px,  270px));
        gap: 20px;
        row-gap: 50px;
    }
}