.roadMapContainer {
    margin-top: 100px;
    padding: 0px 80px;
}

.roadMapContainer h2 {
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 0.66px;
}

.roadMapContainer p {
    width: 60%;
    font-size: 18px;
    letter-spacing: 0.36px;
}

.roadMapContainer .grid {
    margin-top: 40px;
    display: flex;
}

.roadMapContainer .grid .row {
    display: flex;
    align-items: center;
    padding: 50px;
    border-radius: 15px;
    width: 70%;
    margin-right: 50px;
}

.roadMapContainer .grid .row .info {
    margin-right: 20px;
}

.roadMapContainer .grid .info h3 {
    font-size: 18px;
    color: #002F27;
    letter-spacing: 0.27px;
    font-weight: 600;
    margin: 10px 0px;
}

.roadMapContainer .grid .info p {
    color: #002F27;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.21px;
    margin-bottom: 20px;
    text-align: left;
}

.roadMapContainer .grid .info span {
    color: #002F27;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.15px;
}

.roadMapContainer .grid .row2 {
    display: flex;
    align-items: center;
    padding: 50px;
    border-radius: 15px;
    width: 35%;
}

.roadMapContainer .grid .marginLeft {
    margin-left: 50px;
    margin-right: 0px;
}

.roadMapContainer .alpha {
    margin-top: 40px;
    border-radius: 15px;
    background: rgba(255, 215, 95, 0.10);
    padding: 50px;
    display: flex;
    align-items: center;
}

.roadMapContainer .alpha .info {
    width: 70%;
}

.roadMapContainer .alpha .info p {
    width: 100%;
    color: #002F27;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.21px;
    margin-bottom: 20px;
    text-align: left;
}

.roadMapContainer .alpha .info h3 {
    font-size: 18px;
    color: #002F27;
    letter-spacing: 0.27px;
    font-weight: 600;
    margin: 10px 0px;
}

.roadMapContainer .alpha .info span {
    color: #002F27;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.15px;
}

.roadMapContainer .alpha .imageWrapper {
    width: 30%;
    margin-left: 80px;
}

@media screen and (max-width: 960px) {
    .roadMapContainer {
        padding: 0px 20px;
    }

    .roadMapContainer h2 {
        font-size: 36px;
    }

    .roadMapContainer p {
        width: 70%;
        font-size: 16px;
    }

    .roadMapContainer .grid .row {
        padding: 30px;
    }

    .roadMapContainer .grid .row2 {
        padding: 30px;
    }

    .roadMapContainer .grid .info h3 {
        font-size: 16px;
        margin: 5px 0px;
    }
}

@media screen and (max-width: 768px) {
    .roadMapContainer h2 {
        font-size: 26px;
        text-align: center;
    }

    .roadMapContainer p {
        width: 100%;
        font-size: 14px;
        text-align: center;
    }

    .roadMapContainer .grid {
        margin-top: 0px;
        flex-direction: column !important;
    }

    .roadMapContainer .grid .row {
        width: 100%;
        margin-right: 0px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        padding: 35px;
    }

    .roadMapContainer .grid .row .info {
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .roadMapContainer .grid .row2 {
        width: 100%;
        margin-top: 20px;
        padding: 35px;
    }

    .roadMapContainer .grid .marginLeft {
        margin-left: 0px;
    }

    .roadMapContainer .alpha {
        padding: 35px;
        display: flex;
        flex-direction: column;
    }

    .roadMapContainer .alpha .info {
        margin-right: 0px;
        width: 100%;
        margin-bottom: 20px;
    }

    .roadMapContainer .alpha .imageWrapper {
        margin-left: 0px;
        width: 100%;
    }
}