.tintContainerScroll {
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
}

.tintContainerScroll::-webkit-scrollbar {
    display: block;
    width: 6px;
    background-color: transparent;
    border-radius: 10px;
    overflow: visible;
}

.tintContainerScroll::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 100px;
}

.tintContainer {
    width: 100vw;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    padding: 0px 80px;
}

.tintContainer .head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tintContainer .head svg {
    width: 25px;
    height: 25px;
}

.tintContainer .head h1 {
    margin-top: 30px;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
}

.tintContainer .head p {
    margin-top: 20px;
    font-size: 20px;
    width: 70%;
    text-align: center;
}

.tintContainer .tintGenerator {
    width: 100%;
    max-width: 960px;
    align-self: center;
    background-color: #fff;
    margin-top: 45px;
    display: flex;
    position: relative;
}

.tintContainer .tintGenerator .tintWrapper {
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1;
    border: 1px solid #DCDCDC;
    border-radius: 25px;
    display: flex;
    overflow: hidden;
}

.tintContainer .tintGenerator .leftSide {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    min-width: 300px;
    background-color: #FAFAFA;
    border-radius: 25px 0px 0px 25px;
    padding: 40px 20px;
}

.tintContainer .tintGenerator .leftSide h2 {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    position: relative;
    width: max-content;
    cursor: pointer;
}


.tintContainer .tintGenerator .leftSide .row {
    margin-top: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.tintContainer .tintGenerator .leftSide .row label {
    font-size: 14px;
    font-weight: 600;
}

.tintContainer .tintGenerator .leftSide .row .wrapper {
    position: relative;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #dcdcdc;
    overflow: hidden;
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.tintContainer .tintGenerator .leftSide .row input {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0px 10px;
    font-size: 14px;
    text-transform: uppercase;
}

.tintContainer .tintGenerator .leftSide .row span {
    display: block;
    position: absolute;
    border-radius: 5px;
    width: 25px;
    height: 25px;
    right: 10px;
    border: 1px solid #DCDCDC;
    background-color: red;
}

.tintContainer .tintGenerator .leftSide .buttons {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.tintContainer .tintGenerator .leftSide .buttons button:nth-child(1) {
    height: 45px;
    border: 1px solid #DCDCDC;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 25px;
    cursor: pointer;
}

.tintContainer .tintGenerator .leftSide .buttons button:nth-child(2) {
    margin-top: 10px;
    height: 45px;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0078FF;
    border-radius: 25px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.tintContainer .tintGenerator .leftSide .buttons button:nth-child(3) {
    margin-top: 10px;
    background-color: transparent;
    border: none;
    font-size: 10px;
    color: #808080;
}

.tintContainer .tintGenerator .leftSide .buttons button:nth-child(3) a {
   margin-left: 5p;
   color: #808080;
   text-decoration: none;
}

.tintContainer .tintGenerator .leftSide .buttons button:nth-child(3) a:hover {
   color: #0078FF;
   text-decoration: underline;
 }

.tintContainer .tintGenerator .rightSide {
    padding: 40px 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tintContainer .tintGenerator .rightSide .row label {
    font-size: 14px;
    font-weight: 600;
}

.tintContainer .tintGenerator .rightSide .row .wrapper {
    width: 100%;
    margin-top: 5px;
    max-width: 507px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    border: 1px solid #dcdcdc;
}

.tintContainer .tintGenerator .rightSide .row .wrapper .card {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: width 0.3s ease;
}

.tintContainer .tintGenerator .rightSide .row .wrapper .card span {
    display: none;
    font-size: 14px;
    text-transform: uppercase;
}

.tintContainer .tintGenerator .rightSide .row .wrapper .card .dot {
    width: 7px;
    height: 7px;
    border-radius: 7px;
}

.tintContainer .tintGenerator .rightSide .row .wrapper .card:hover {
    width: 350%;
}

.tintContainer .tintGenerator .rightSide .row .wrapper .card:hover span {
    display: unset;
}

.tintContainer .tintGenerator .rightSide .row .wrapper .card:hover .dot {
    display: none;
}

.tintContainer .tintGenerator .rightSide a {
    margin-top: 30px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #0078FF;
}

.tintContainer .tintGenerator .rightSide a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 900px) {
    .tintContainer .tintGenerator .tintWrapper {
        flex-direction: column;
    }

    .tintContainer .tintGenerator .leftSide {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        border-radius: 0px;
        padding: 40px 40px;
    }

    .tintContainer .tintGenerator .rightSide {
        padding: 40px 40px;
    }

    .tintContainer .tintGenerator .rightSide .row .wrapper {
        width: 100%;
        max-width: 100%
    }
}

@media screen and (max-width: 650px) {
    .tintContainer {
        padding: 0px 20px;
    }

    .tintContainer .head h1 {
        font-size: 26px;
        width: 100%;
    }

    .tintContainer .head p {
        font-size: 16px;
        width: 100%;
    }
}