.gradientContainerScroll {
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
}

.gradientContainerScroll::-webkit-scrollbar {
    display: block;
    width: 6px;
    background-color: transparent;
    border-radius: 10px;
    overflow: visible;
}

.gradientContainerScroll::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 100px;
}

.gradientContainer {
    width: 100vw;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    padding: 0px 80px;
}

.gradientContainer .head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gradientContainer .head svg {
    width: 25px;
    height: 25px;
}

.gradientContainer .head h1 {
    margin-top: 30px;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
}

.gradientContainer .head p {
    margin-top: 20px;
    font-size: 20px;
    width: 70%;
    text-align: center;
}

.gradientContainer .gradientGenerator {
    width: 100%;
    max-width: 960px;
    align-self: center;
    background-color: #fff;
    margin-top: 45px;
    display: flex;
    position: relative;
}

.gradientContainer .gradientGenerator .gradientWrapper {
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1;
    border: 1px solid #DCDCDC;
    border-radius: 25px;
    display: flex;
    overflow: hidden;
}

.gradientContainer .gradientGenerator .leftSide {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    min-width: 300px;
    background-color: #FAFAFA;
    border-radius: 25px 0px 0px 25px;
    padding: 40px 20px;
}

.gradientContainer .gradientGenerator .leftSide h2 {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    position: relative;
    width: max-content;
    cursor: pointer;
}

.gradientContainer .gradientGenerator .leftSide .slider {
    margin-top: 30px;
    position: relative;
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, orange, yellow, green);
    border-radius: 10px;
}

.gradientContainer .gradientGenerator .leftSide .slider .handle {
    position: absolute;
    top: 50%;
    width: 22px;
    height: 22px;
    background-color: #fff;
    border: 1px solid #C4C4C4;
    border-radius: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.gradientContainer .gradientGenerator .leftSide .slider .handle .circle {
    width: 11px;
    height: 11px;
    border-radius: 50%;
}

.gradientContainer .gradientGenerator .leftSide .row {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.gradientContainer .gradientGenerator .leftSide .row .colorPicker {
    position: absolute;
    z-index: 20;
    top: 80px;
    padding: 10px;
    padding-bottom: 0px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #DCDCDC;
}

.gradientContainer .gradientGenerator .leftSide .row .wrapper {
    display: flex;
    flex-direction: column;
    width: 120px;
    position: relative;
}

.gradientContainer .gradientGenerator .leftSide .row .wrapper .box {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 3px;
    border: 1px solid #DCDCDC;
    right: 8px;
    bottom: 11px;
    cursor: pointer;
}

.gradientContainer .gradientGenerator .leftSide .row .wrapper .remove {
    position: absolute;
    font-size: 8px;
    color: #0078FF;
    right: 0px;
    top: 3.5px;
    cursor: pointer;
}

.gradientContainer .gradientGenerator .leftSide .row .wrapper label {
    font-size: 14px;
    font-weight: 600;
}

.gradientContainer .gradientGenerator .leftSide .row .wrapper input {
    margin-top: 5px;
    font-size: 14px;
    height: 45px;
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    padding: 0px 8px;
}

.gradientContainer .gradientGenerator .leftSide .row .wrapper select {
    margin-top: 5px;
    width: 100%;
    height: 45px;
    padding: 0px 8px;
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    font-size: 14px;
    background: url(../../../public/Assets/downArrow1.svg) 95% center no-repeat #ffffff !important;
    -moz-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}

.gradientContainer .gradientGenerator .leftSide .buttons {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.gradientContainer .gradientGenerator .leftSide .buttons button:nth-child(1) {
    height: 45px;
    border: 1px solid #DCDCDC;
    border-radius: 25px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}

.gradientContainer .gradientGenerator .leftSide .buttons button:nth-child(2) {
    height: 45px;
    border-radius: 25px;
    background-color: #0078FF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    border: none;
    margin-top: 10px;
    color: #fff;
}

.gradientContainer .gradientGenerator .leftSide .buttons button:nth-child(3) {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    margin-top: 10px;
    color: #808080;
}

.gradientContainer .gradientGenerator .leftSide .buttons a {
    margin-left: 3px;
    color: #808080;
    text-decoration: none;
}

.gradientContainer .gradientGenerator .leftSide .buttons a:hover {
    text-decoration: underline;
    color: #0078FF;
}

.gradientContainer .gradientGenerator .rightSide {
    padding: 40px 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.gradientContainer .gradientGenerator .rightSide .box {
    width: 100%;
    margin-top: 5px;
    max-width: 507px;
    height: 361px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.gradientContainer .gradientGenerator .rightSide a {
    margin-top: 30px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #0078FF;
}

.gradientContainer .gradientGenerator .rightSide a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 900px) {
    .gradientContainer .gradientGenerator .gradientWrapper {
        flex-direction: column;
    }

    .gradientContainer .gradientGenerator .leftSide {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        border-radius: 0px;
        padding: 40px 40px;
    }

    .gradientContainer .gradientGenerator .rightSide {
        padding: 40px 40px;
    }

    .gradientContainer .gradientGenerator .leftSide .row {
        column-gap: 20px;
    }

    .gradientContainer .gradientGenerator .leftSide .row .wrapper {
        width: 100%;
    }

    .gradientContainer .gradientGenerator .rightSide .box {
        width: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 650px) {
    .gradientContainer {
        padding: 0px 20px;
    }

    .gradientContainer .head h1 {
        font-size: 26px;
        width: 100%;
    }

    .gradientContainer .head p {
        font-size: 16px;
        width: 100%;
    }
}