.mixerContainerScroll {
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
}

.mixerContainerScroll::-webkit-scrollbar {
    display: block;
    width: 6px;
    background-color: transparent;
    border-radius: 10px;
    overflow: visible;
}

.mixerContainerScroll::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 100px;
}

.mixerContainer {
    width: 100vw;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    padding: 0px 80px;
}

.mixerContainer .head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mixerContainer .head svg {
    width: 25px;
    height: 25px;
}

.mixerContainer .head h1 {
    margin-top: 30px;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
}

.mixerContainer .head p {
    margin-top: 20px;
    font-size: 20px;
    width: 70%;
    text-align: center;
}

.mixerContainer .mixerGenerator {
    width: 100%;
    max-width: 960px;
    align-self: center;
    background-color: #fff;
    margin-top: 45px;
    display: flex;
    position: relative;
}

.mixerContainer .mixerGenerator .mixerWrapper {
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1;
    border: 1px solid #DCDCDC;
    border-radius: 25px;
    display: flex;
    overflow: hidden;
}

.mixerContainer .mixerGenerator .mixerWrapper h2 {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    position: relative;
    width: max-content;
    cursor: pointer;
}

.mixerContainer .mixerGenerator .leftSide {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    min-width: 300px;
    background-color: #FAFAFA;
    border-radius: 25px 0px 0px 25px;
    padding: 40px 20px;
}

.mixerContainer .mixerGenerator .leftSide .row {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mixerContainer .mixerGenerator .leftSide .row .inputWrapper {
    width: 100%;
}

.mixerContainer .mixerGenerator .leftSide .row label {
    font-size: 14px;
    font-weight: 600;
}

.mixerContainer .mixerGenerator .leftSide .row input {
    width: 100%;
    height: 45px;
    padding: 0px 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #DCDCDC;
    text-transform: uppercase;
}

.mixerContainer .mixerGenerator .leftSide .info {
    margin-top: 20px;
    font-size: 10px;
    color: #808080;
}

.mixerContainer .mixerGenerator .leftSide .info a {
    color: #808080;
    text-decoration: none;
}

.mixerContainer .mixerGenerator .leftSide .info a:hover {
    color: blue;
    text-decoration: underline
}


.mixerContainer .mixerGenerator .rightSide {
    padding: 40px 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mixerContainer .mixerGenerator .rightSide .wrapper {
    width: 100%;
    max-width: 537px;
}

.mixerContainer .mixerGenerator .rightSide .wrapper .box {
    width: 100%;
    max-width: 507px;
    height: 280px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mixerContainer .mixerGenerator .rightSide .wrapper .box span {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.mixerContainer .mixerGenerator .rightSide .wrapper .box h3 {
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 600;
    margin: 15px 0px;
}

.mixerContainer .mixerGenerator .rightSide .wrapper .box div {
    width: 25px;
    height: 25px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.mixerContainer .mixerGenerator .rightSide .wrapper .colors .cardWrapper {
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
    overflow: visible;
    display: flex;
    position: relative;
}

.mixerContainer .mixerGenerator .rightSide .wrapper .colors .cardWrapper button {
    position: absolute;
    height: 45px;
    width: 20px;
    right: -30px;
    border: 1px solid #DCDCDC;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.mixerContainer .mixerGenerator .rightSide .wrapper .colors .card {
    height: 45px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    cursor: pointer;
}

.mixerContainer .mixerGenerator .rightSide .wrapper .colors .card svg {
    display: none;
    position: absolute;
    bottom: -30px;
    z-index: 10;
}

.mixerContainer .mixerGenerator .rightSide .wrapper .colors .card .colorInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: -40px;
    text-transform: uppercase;
}

.mixerContainer .mixerGenerator .rightSide .wrapper .colors .handle {
    width: 6px;
    height: 25px;
    background-color: white;
    border: 1px solid black;
    cursor: ew-resize;
    position: absolute;
    right: -3px;
    top: 10px;
    z-index: 10;
    border-radius: 5px;
}

.mixerContainer .mixerGenerator .rightSide a {
    margin-top: 70px;
    color: #0078FF;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.mixerContainer .mixerGenerator .rightSide a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 900px) {
    .mixerContainer .mixerGenerator .mixerWrapper {
        flex-direction: column;
    }

    .mixerContainer .mixerGenerator .leftSide {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        border-radius: 0px;
        padding: 40px 40px;
    }

    .mixerContainer .mixerGenerator .leftSide .row .inputWrapper {
        width: 100%;
        min-width: 260px;
    }

    .mixerContainer .mixerGenerator .rightSide {
        padding: 40px 40px;
    }

    .mixerContainer .mixerGenerator .rightSide .wrapper {
        width: 100%;
        max-width: 100%;
    }

    .mixerContainer .mixerGenerator .rightSide .wrapper .box {
        width: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 650px) {
    .mixerContainer {
        padding: 0px 20px;
    }

    .mixerContainer .head h1 {
        font-size: 26px;
        width: 100%;
    }

    .mixerContainer .head p {
        font-size: 16px;
        width: 100%;
    }
}