.partnerSectionContainer {
    margin-top: 100px;
    padding: 0px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.partnerSectionContainer .headerContainer {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.partnerSectionContainer .headerContainer h2 {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.44px;
}

.partnerSectionContainer .headerContainer p {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.36px;
}

.partnerSectionContainer .pointsContainer {
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.partnerSectionContainer .pointsContainer .point {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.partnerSectionContainer .pointsContainer .point h2 {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.48px;
}



@media screen and (max-width: 768px) {
    .partnerSectionContainer {
        padding: 0px 20px;
    }

    .partnerSectionContainer .headerContainer {
        width: 100%;
    }

    .partnerSectionContainer .headerContainer h2 {
        font-size: 30px;
    }

    .partnerSectionContainer .headerContainer p {
        font-size: 14px;
    }

    .partnerSectionContainer .pointsContainer {
        grid-template-columns: repeat(2, 1fr);
        align-content: center;
        align-items: center;
    }

    .partnerSectionContainer .pointsContainer .point {
        justify-content: center;
        align-items: center;
    }

    .partnerSectionContainer .pointsContainer .point h2 {
        font-size: 15px;
    }
}

@media screen and (max-width: 460px) {
    .partnerSectionContainer {
        padding: 0px 20px;
    }

    .partnerSectionContainer .headerContainer {
        width: 100%;
    }

    .partnerSectionContainer .headerContainer h2 {
        font-size: 30px;
    }

    .partnerSectionContainer .headerContainer p {
        font-size: 14px;
    }

    .partnerSectionContainer .pointsContainer {
        grid-template-columns: repeat(2, 1fr);
        align-content: center;
        align-items: center;
    }

    .partnerSectionContainer .pointsContainer .point {
        justify-content: center;
        align-items: center;
    }

    .partnerSectionContainer .pointsContainer .point h2 {
        font-size: 15px;
    }
}

@media screen and (max-width: 960px) {
    .partnerSectionContainer {
        padding: 0px 20px;
    }

    .partnerSectionContainer .headerContainer {
        width: 100%;
    }

    .partnerSectionContainer .pointsContainer {
        grid-template-columns: repeat(2, 1fr);
        align-content: center;
        align-items: center;
    }

    .partnerSectionContainer .pointsContainer .point {
        justify-content: center;
        align-items: center;
    }

    .partnerSectionContainer .pointsContainer .point h2 {
        font-size: 15px;
    }
}