.secondBlackSectionContainer {
    margin: 0px 80px;
    margin-top: 100px;
    padding: 120px 80px;
    color: #fff;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.secondBlackSectionContainer p {
    font-size: 48px;
    font-weight: 700;
    width: 70%;
}

.secondBlackSectionContainer button {
    padding: 10px 20px;
    border-radius: 5px;
    background: #FF4359;
    border: none;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: #fff;
}

@media screen and (max-width: 960px) {
    .secondBlackSectionContainer {
        margin: 0px 20px;
        margin-top: 100px;
        padding: 80px 20px;
    }

    .secondBlackSectionContainer p {
        font-size: 36px;
    }

    .secondBlackSectionContainer button {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    .secondBlackSectionContainer {
        flex-direction: column;
        justify-content: flex-start;
    }

    .secondBlackSectionContainer p {
        font-size: 26px;
        width: 100%;
        text-align: center;
    }

    .secondBlackSectionContainer button {
        margin-top: 30px;
        font-size: 16px;
    }
}