.wheelContainerScroll {
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
}

.wheelContainerScroll::-webkit-scrollbar {
    display: block;
    width: 6px;
    background-color: transparent;
    border-radius: 10px;
    overflow: visible;
}

.wheelContainerScroll::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 100px;
}

.wheelContainer {
    width: 100vw;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    padding: 0px 80px;
}

.wheelContainer .head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wheelContainer .head svg {
    width: 25px;
    height: 25px;
}

.wheelContainer .head h1 {
    margin-top: 30px;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
}

.wheelContainer .head p {
    margin-top: 20px;
    font-size: 20px;
    width: 70%;
    text-align: center;
}

.wheelContainer .wheelGenerator {
    width: 100%;
    max-width: 960px;
    align-self: center;
    background-color: #fff;
    margin-top: 45px;
    display: flex;
    position: relative;
}

.wheelContainer .wheelGenerator .contrastWrapper {
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1;
    border: 1px solid #DCDCDC;
    border-radius: 25px;
    display: flex;
    overflow: hidden;
}

.wheelContainer .wheelGenerator .leftSide {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    min-width: 300px;
    background-color: #FAFAFA;
    border-radius: 25px 0px 0px 25px;
    padding: 40px 20px;
}

.wheelContainer .wheelGenerator .leftSide h2 {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    position: relative;
    width: max-content;
    cursor: pointer;
}

.wheelContainer .wheelGenerator .leftSide .row {
    margin-top: 30px;
    position: relative;
}

.wheelContainer .wheelGenerator .leftSide .row label {
    font-size: 14px;
    font-weight: 600;
}

.wheelContainer .wheelGenerator .leftSide .row .wrapper {
    position: relative;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #dcdcdc;
    overflow: hidden;
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.wheelContainer .wheelGenerator .leftSide .row select {
    margin-top: 10px;
    width: 100%;
    height: 45px;
    padding: 0px 10px;
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    font-size: 14px;
    background: url(../../../public/Assets/downArrow1.svg) 95% center no-repeat #ffffff !important;
    -moz-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}

.wheelContainer .wheelGenerator .leftSide .poweredBy {
    margin-top: 15px;
    font-size: 10px;
    color: #808080;
}

.wheelContainer .wheelGenerator .leftSide .poweredBy a {
    text-decoration: none;
    color: #808080;
}

.wheelContainer .wheelGenerator .leftSide .poweredBy a:hover {
    color: #0078FF;
    text-decoration: underline;
}

.wheelContainer .wheelGenerator .rightSide {
    padding: 55px 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.wheelContainer .wheelGenerator .rightSide .colorBox {
    width: 100%;
    max-width: 507px;
    height: 280px;
    border-radius: 10px;
    background-color: #F8F8F9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23333' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='1' stroke-linecap='square'/%3e%3c/svg%3e");
}

.wheelContainer .wheelGenerator .rightSide .colorBox p {
    font-weight: 600;
    color: #0078FF;
    margin: 10px 0px;
}

.wheelContainer .wheelGenerator .rightSide .colorBox button {
    background-color: #0078FF;
    height: 47px;
    padding: 0px 25px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    border: none;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
}

.wheelContainer .wheelGenerator .rightSide .imageBox {
    display: flex;
    flex-direction: column;
}

.wheelContainer .wheelGenerator .rightSide .imageBox .wrapper {
    display: flex;
    align-items: center;
}

.wheelContainer .wheelGenerator .rightSide .imageBox .wrapper div {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.wheelContainer .wheelGenerator .rightSide .imageBox .wrapper div span:nth-child(1) {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
}

.wheelContainer .wheelGenerator .rightSide .imageBox .wrapper div span:nth-child(2) {
    font-size: 14px;
    margin: 5px 0px;
}

.wheelContainer .wheelGenerator .rightSide .imageBox .wrapper div span:nth-child(3) {
    font-size: 14px;
}

.wheelContainer .wheelGenerator .rightSide .imageBox img {
    width: 100%;
    max-width: 270px;
}

.wheelContainer .wheelGenerator .rightSide .imageBox .links {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.wheelContainer .wheelGenerator .rightSide .imageBox .links span {
    font-size: 14px;
    font-weight: 600;
    display: block;
    color: #0078FF;
    display: flex;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
}

.wheelContainer .wheelGenerator .rightSide .imageBox .links span:hover {
    text-decoration: underline;
}

.wheelContainer .wheelGenerator .rightSide .imageBox .links span svg {
    margin-left: 5px;
}

.wheelContainer .wheelGenerator .rightSide .imageBox .links a {
    font-size: 14px;
    font-weight: 600;
    display: block;
    color: #0078FF;
    display: flex;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
}

.wheelContainer .wheelGenerator .rightSide .imageBox .links a:hover {
    text-decoration: underline;
}

.wheelContainer .loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@media screen and (max-width: 1000px) {
    .wheelContainer .wheelGenerator .contrastWrapper {
        flex-direction: column;
    }

    .wheelContainer .wheelGenerator .leftSide {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        border-radius: 0px;
        padding: 40px 40px;
    }

    .wheelContainer .wheelGenerator .rightSide {
        padding: 40px 40px;
    }

    .wheelContainer .wheelGenerator .rightSide .colorBox {
        width: 100%;
        max-width: 100%
    }

    .wheelContainer .wheelGenerator .rightSide .imageBox .wrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    .wheelContainer .wheelGenerator .rightSide .imageBox .wrapper div {
        margin: 0px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 650px) {
    .wheelContainer {
        padding: 0px 20px;
    }

    .wheelContainer .head h1 {
        font-size: 26px;
        width: 100%;
    }

    .wheelContainer .head p {
        font-size: 16px;
        width: 100%;
    }
}