.fifthBlackSection {
  padding: 30px;
  margin: 30px;
  border-radius: 10px;
  background-color: #000;
  color: #fff;
}

.fifthBlackSection p {
  font-size: 32px;
  font-weight: 600;
}

.fifthBlackSection button {
  margin-top: 30px;
  width: 200px;
  border: none;
  padding: 0px 20px;
  height: 40px;
  border-radius: 5px;
  background: #FFF;
  color: #000;
  font-size: 16px;
}

.fifthBlackSection button:hover {
  background: #ff4359;
  color: #fff;
}

@media screen and (min-width: 960px) {
  .fifthBlackSection {
    padding: 80px;
    margin: 80px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fifthBlackSection p {
    font-size: 48px;
    font-weight: 600;
  }

  .firstBlackSection {
    padding: 50px;
    font-size: 36px;
  }

  .fifthBlackSection button {
    margin-top: 0px;
    height: 50px;
    width: 200px;
    min-width: 200px;
    font-size: 18px;
    margin-left: 100px;
  }
}