.pricingSectionContainer {
    margin-top: 100px;
    padding: 0px 80px;
    display: flex;
    flex-direction: column;
}

.pricingSectionContainer h2 {
    color: #000;
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 0.66px;
    width: 75%;
    align-self: center;
    text-align: center;
}

.pricingSectionContainer p {
    color: #000;
    font-size: 18px;
    letter-spacing: 0.36px;
    width: 65%;
    align-self: center;
    text-align: center;
    margin-top: 5px;
}

.pricingSectionContainer .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
    margin-top: 60px;
}

.pricingSectionContainer .card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #E8E8E8;
    padding: 20px 15px;
    position: relative;
}

.pricingSectionContainer .card .topButton {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.32px;
    text-transform: uppercase;
    height: 35px;
    width: 165px;
    border-radius: 25px;
    background: #0078FF;
    border: none;
    position: absolute;
    top: -17.5px;
    margin: auto;
    align-self: center;
}

.pricingSectionContainer .card .title {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.48px;
    text-align: center;
}

.pricingSectionContainer .card .subTitle {
    color: #404040;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.28px;
    text-align: center;
}

.pricingSectionContainer .card .originalPricing {
    margin-top: 25px;
    align-self: center;
}

.pricingSectionContainer .card .originalPricing span {
    color: #404040;
    font-size: 18px;
    letter-spacing: 0.36px;
    text-decoration: line-through;
}

.pricingSectionContainer .card .originalPricing button {
    width: 100px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.10);
    border: none;
    font-size: 14px;
    font-weight: 600;
    margin-left: 5px;
}

.pricingSectionContainer .card .price {
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 0.96px;
    margin-top: 10px;
}

.pricingSectionContainer .card .price span {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.36px;
}

.pricingSectionContainer .card .free {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.36px;
    text-align: center;
    margin-top: 8px;
}

.pricingSectionContainer .card .cartButton {
    width: 284px;
    padding: 10px;
    border-radius: 5px;
    background: #000;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.2px;
    border: none;
    align-self: center;
    margin-top: 30px;
    cursor: pointer;
}

.pricingSectionContainer .card .subInfo {
    padding-bottom: 40px;
    color: #404040;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.24px;
    text-align: center;
    margin-top: 5px;
    border-bottom: 1px solid rgba(232, 232, 232, 0.50);
}

.pricingSectionContainer .card .planDetails {
    margin-top: 30px;
}

.pricingSectionContainer .card .planDetails .line {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.pricingSectionContainer .card .planDetails .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

@media screen and (max-width: 1300px) {
    .pricingSectionContainer .grid {
        gap: 30px;
    }
}

@media screen and (max-width: 1150px) {
    .pricingSectionContainer .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 960px) {
    .pricingSectionContainer {
        padding: 0px 20px;
    }

    .pricingSectionContainer h2 {
        font-size: 36px;
        width: 90%;
    }

    .pricingSectionContainer p {
        width: 80%;
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    .pricingSectionContainer h2 {
        font-size: 26px;
        width: 95%;
    }

    .pricingSectionContainer p {
        font-size: 14px;
        width: 90%;
    }

    .pricingSectionContainer .card .cartButton {
        width: 200px;
        font-size: 18px;
    }
}

@media screen and (max-width: 615px) {
    .pricingSectionContainer h2 {
        width: 100%;
    }

    .pricingSectionContainer p {
        width: 100%;
    }

    .pricingSectionContainer .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}