.ColorPickerContainerScroll {
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
}

.ColorPickerContainerScroll::-webkit-scrollbar {
    display: block;
    width: 6px;
    background-color: transparent;
    border-radius: 10px;
    overflow: visible;
}

.ColorPickerContainerScroll::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 100px;
}

.ColorPickerContainer {
    width: 100vw;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    padding: 0px 80px;
}

.ColorPickerContainer .head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ColorPickerContainer .head svg {
    width: 25px;
    height: 25px;
}

.ColorPickerContainer .head h1 {
    margin-top: 30px;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
}

.ColorPickerContainer .head p {
    margin-top: 20px;
    font-size: 20px;
    width: 70%;
    text-align: center;
}


.ColorPickerContainer .ColorPickerGenerator {
    width: 100%;
    max-width: 960px;
    align-self: center;
    background-color: #fff;
    margin-top: 45px;
    display: flex;
    position: relative;
}

.ColorPickerContainer .ColorPickerGenerator .ColorPickerWrapper {
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1;
    border: 1px solid #DCDCDC;
    border-radius: 25px;
    display: flex;
    overflow: hidden;
}

.ColorPickerContainer .ColorPickerGenerator .leftSide {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    min-width: 300px;
    background-color: #FAFAFA;
    border-radius: 25px 0px 0px 25px;
    padding: 40px 20px;
}

.ColorPickerContainer .ColorPickerGenerator .leftSide h2 {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    position: relative;
    width: max-content;
    cursor: pointer;
}

.ColorPickerContainer .ColorPickerGenerator .leftSide button {
    margin-top: 30px;
    background-color: transparent;
    border: none;
    font-size: 10px;
    color: #808080;
    text-align: left;
}

.ColorPickerContainer .ColorPickerGenerator .leftSide .row {
    margin-top: 30px;
    width: 100%;
}

.ColorPickerContainer .ColorPickerGenerator .leftSide .row label {
    font-size: 14px;
    font-weight: 600;
}

.ColorPickerContainer .ColorPickerGenerator .leftSide .row input {
    width: 100%;
    height: 45px;
    padding: 0px 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #DCDCDC;
    text-transform: uppercase;
}


.ColorPickerContainer .ColorPickerGenerator .leftSide button a {
    margin-left: 5p;
    color: #808080;
    text-decoration: none;
}

.ColorPickerContainer .ColorPickerGenerator .leftSide button a:hover {
    color: #0078FF;
    text-decoration: underline;
}

.ColorPickerContainer .ColorPickerGenerator .rightSide {
    padding: 40px 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.ColorPickerContainer .ColorPickerGenerator .rightSide .box {
    width: 100%;
    margin-top: 5px;
    max-width: 507px;
    height: 361px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    cursor: default;
}

.ColorPickerContainer .ColorPickerGenerator .rightSide .box span {
    text-transform: uppercase;
    cursor: pointer;
}

.ColorPickerContainer .ColorPickerGenerator .rightSide .box h3 {
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 600;
    margin: 15px 0px;
}

.ColorPickerContainer .ColorPickerGenerator .rightSide .box div {
    width: 25px;
    height: 25px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.ColorPickerContainer .ColorPickerGenerator .rightSide .conversions {
    margin-top: 50px;
    width: 100%;
}

.ColorPickerContainer .ColorPickerGenerator .rightSide .conversions h3 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.ColorPickerContainer .ColorPickerGenerator .rightSide .conversions .row {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    font-size: 14px;
}

.ColorPickerContainer .ColorPickerGenerator .rightSide .conversions .row div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0px 15px;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
}

.ColorPickerContainer .ColorPickerGenerator .rightSide .conversions .row div:nth-child(odd) {
    background-color: #f1f1f1;
}

.ColorPickerContainer .ColorPickerGenerator .rightSide .variations {
    margin-top: 50px;
    width: 100%;
}

.ColorPickerContainer .ColorPickerGenerator .rightSide .variations h3 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.ColorPickerContainer .ColorPickerGenerator .rightSide .variations label {
    font-size: 14px;
}

.ColorPickerContainer .ColorPickerGenerator .rightSide .variations .wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    overflow: hidden;
}

.ColorPickerContainer .ColorPickerGenerator .rightSide .variations .wrapper .card {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: width 0.3s ease;
}

.ColorPickerContainer .ColorPickerGenerator .rightSide .variations .wrapper .card:hover {
    width: 350%;
}

.ColorPickerContainer .ColorPickerGenerator .rightSide .variations .wrapper .card span {
    font-size: 14px;
    text-transform: uppercase;
    display: none;
}

.ColorPickerContainer .ColorPickerGenerator .rightSide .variations .wrapper .card:hover span {
   display: flex;
}

.ColorPickerContainer .ColorPickerGenerator .rightSide .variations .wrapper .card .dot {
    width: 7px;
    height: 7px;
    border-radius: 7px;
}

.ColorPickerContainer .ColorPickerGenerator .rightSide .variations .wrapper .card:hover .dot {
    display: none;
}

.ColorPickerContainer .ColorPickerGenerator .rightSide .contrast {
    margin-top: 50px;
    width: 100%;
}

.ColorPickerContainer .ColorPickerGenerator .rightSide .contrast h3 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.ColorPickerContainer .ColorPickerGenerator .rightSide .contrast .section {
    margin-top: 20px;
}

.ColorPickerContainer .ColorPickerGenerator .rightSide .contrast .wrapper .head1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ColorPickerContainer .ColorPickerGenerator .rightSide .contrast .wrapper .head1 span:nth-child(1) {
    font-size: 14px;
    font-weight: 600;
}

.ColorPickerContainer .ColorPickerGenerator .rightSide .contrast .wrapper .head1 span:nth-child(2) {
    font-size: 10px;
    background-color: orange;
    padding: 1px 8px;
    border-radius: 3px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ColorPickerContainer .ColorPickerGenerator .rightSide .contrast .wrapper .cBox {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    border: 1px solid #DCDCDC;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    text-align: center;
}

.ColorPickerContainer .ColorPickerGenerator .rightSide .contrast .wrapper .cBox span:nth-child(1) {
    font-size: 22px;
}

.ColorPickerContainer .ColorPickerGenerator .rightSide .contrast .wrapper .cBox p {
    margin: 20px 0px;
}

.ColorPickerContainer .ColorPickerGenerator .rightSide .contrast .wrapper .cBox span:nth-child(3)  {
   font-weight: 600;
}

.ColorPickerContainer .ColorPickerGenerator .rightSide a {
    margin-top: 30px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #0078FF;
}

.ColorPickerContainer .ColorPickerGenerator .rightSide a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 900px) {
    .ColorPickerContainer .ColorPickerGenerator .ColorPickerWrapper {
        flex-direction: column;
    }

    .ColorPickerContainer .ColorPickerGenerator .leftSide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        border-radius: 0px;
        padding: 40px 40px;
    }

    .ColorPickerContainer .ColorPickerGenerator .rightSide {
        padding: 40px 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ColorPickerContainer .ColorPickerGenerator .rightSide .row .wrapper {
        width: 100%;
        max-width: 100%
    }
}

@media screen and (max-width: 650px) {
    .ColorPickerContainer {
        padding: 0px 20px;
    }

    .ColorPickerContainer .head h1 {
        font-size: 26px;
        width: 100%;
    }

    .ColorPickerContainer .head p {
        font-size: 16px;
        width: 100%;
    }

    .ColorPickerContainer .ColorPickerGenerator .rightSide .box h3 {
        font-size: 26px;
    }

    .ColorPickerContainer .ColorPickerGenerator .rightSide {
        padding: 20px;
    }

    .ColorPickerContainer .ColorPickerGenerator .leftSide {
        padding: 20px;
    }
}