.teamsContainer {
    margin-top: 100px;
    padding: 0px 80px;
}

.teamsContainer h2 {
    color: #000;
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 0.66px;
}

.teamsContainer p {
    color: #000;
    font-size: 18px;
    letter-spacing: 0.36px;
}

.teamsContainer .wrapper {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.teamsContainer .compitition {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.teamsContainer .card {
    height: 50px;
    padding: 0px 30px;
    border-radius: 5px;
    background: #F8F8F9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.teamsContainer .card .imageWrapper {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.teamsContainer .card .row {
    display: flex;
    align-items: center;
}

.teamsContainer .card .row span:nth-child(2) {
    font-size: 18px;
    letter-spacing: 0.36px;
    font-weight: 600;
}

.teamsContainer .card span:nth-child(2) {
    color: #404040;
    font-size: 14px;
    text-align: center;
}

.teamsContainer .card span:nth-child(3) {
    color: #242424;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.36px;
}

.teamsContainer .compitition svg {
    margin: 10px 0px;
    align-self: center;
}

.teamsContainer .compitition button {
    padding: 0px 30px;
    margin-top: 40px;
    height: 50px;
    border-radius: 5px;
    background: #808080;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.36px;
}

.teamsContainer .compare {
    margin: 0px 30px;
    display: flex;
    align-items: center;
}

.teamsContainer .compare span:nth-child(1) {
    font-size: 128px;
    letter-spacing: 2.56px;
}

.teamsContainer .compare span:nth-child(2) {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.36px;
}

.teamsContainer .creatosaurus {
    padding: 50px;
    border-radius: 15px;
    border: 3px solid #0078FF;
    background: rgba(0, 120, 255, 0.02);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.teamsContainer .creatosaurus .head {
    display: flex;
    align-items: center;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.36px;
    text-transform: uppercase;
}

.teamsContainer .creatosaurus .head svg {
    margin-right: 10px;
}

.teamsContainer .creatosaurus .subHead {
    margin-top: 35px;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0.64px;
    text-align: center;
}

.teamsContainer .creatosaurus .info {
    font-size: 14px;
    letter-spacing: 0.28px;
    text-align: center;
}

.teamsContainer .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 35px;
    margin-top: 40px;
}

.teamsContainer .grid .row {
    display: flex;
    align-items: center;
    margin-top: 10px;
    color: #333;
}

.teamsContainer .grid .row svg {
    margin-right: 10px;
}

.teamsContainer .mainButton {
    margin-top: 35px;
    border-radius: 5px;
    background: #0078FF;
    padding: 10px;
    width: 100%;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.2px;
    cursor: pointer;
}

@media screen and (max-width: 1050px) {
    .teamsContainer .compare {
        margin: 0px 15px;
    }
}

@media screen and (max-width: 960px) {
    .teamsContainer {
        padding: 0px 20px;
    }

    .teamsContainer h2 {
        font-size: 36px;
    }

    .teamsContainer p {
        font-size: 16px;
    }

    .teamsContainer .creatosaurus {
        padding: 30px;
    }

    .teamsContainer .card {
        padding: 0px 15px;
    }

    .teamsContainer .card .imageWrapper {
        width: 25px;
        height: 25px;
    }
    
    .teamsContainer .card .row span:nth-child(2) {
        font-size: 16px;
    }
    
    .teamsContainer .card span:nth-child(2) {
        font-size: 12px;
    }
    
    .teamsContainer .card span:nth-child(3) {
        font-size: 16px;
    }

    .teamsContainer .compitition button {
        padding: 0px 15px;
        font-size: 16px;
    }

    .teamsContainer .compare {
        margin: 0px 15px;
    }
    
    .teamsContainer .compare span:nth-child(1) {
        font-size: 72px;
    }
    
    .teamsContainer .compare span:nth-child(2) {
        font-size: 16px;
    }

    .teamsContainer .creatosaurus .subHead {
        font-size: 24px;
    }
    
    .teamsContainer .creatosaurus .info {
        font-size: 12px;
    }

    .teamsContainer .grid {
        column-gap: 15px;
        margin-top: 25px;
    }
    
    .teamsContainer .grid .row {
        font-size: 14px;
    }
    
    .teamsContainer .mainButton {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    .teamsContainer .wrapper {
        flex-direction: column;
    }

    .teamsContainer .compare {
        margin-top: 50px;
    }
    
    .teamsContainer .compare span:nth-child(1){
        display: none;
    }

    .teamsContainer .creatosaurus {
        margin-top: 50px;
    }

    .teamsContainer h2 {
        font-size: 26px;
    }

    .teamsContainer p {
        font-size: 14px;
    }
}