.selectPaymentContainer {
    margin-top: 100px;
    padding: 0px 80px;
    padding-bottom: 50px;
}

.selectPaymentContainer .title {
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 0.44px;
}

.selectPaymentContainer .paymentSectionWrapper {
    margin-top: 30px;
    display: flex;
    gap: 30px;
}

.selectPaymentContainer .paymentSectionWrapper .gateWay {
    width: 334px;
    height: 60px;
    border-radius: 10px;
    border: 2px solid #0078FF;
    background-color: #fff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;
}

.selectPaymentContainer .paymentSectionWrapper .border {
    width: 334px;
    height: 60px;
    border-radius: 10px;
    border: 2px solid #E8E8E8;
    background-color: #fff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;
}

.selectPaymentContainer .paymentSectionWrapper .check {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    border: 3px solid #0078FF;
    margin-left: 25px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectPaymentContainer .paymentSectionWrapper .check .round {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #0078FF;
}

.selectPaymentContainer .paymentSectionWrapper .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.selectPaymentContainer .paymentSectionWrapper .wrapper .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.selectPaymentContainer .paymentSectionWrapper .circle {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    border: 2px solid #E8E8E8;
    margin-left: 25px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectPaymentContainer .paymentSectionWrapper .info {
    width: 100%;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    border: 1px solid #E8E8E8;
}

.selectPaymentContainer .paymentSectionWrapper .info .head {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selectPaymentContainer .paymentSectionWrapper .info .head div {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.32px;
}

.selectPaymentContainer .paymentSectionWrapper .info .head div span {
    text-decoration: line-through;
    color: #808080;
    margin-right: 10px;
    font-weight: 500;
}

.selectPaymentContainer .paymentSectionWrapper .divider {
    margin-top: 30px;
    border-bottom: 1px solid #E8E8E8;
}

.selectPaymentContainer .paymentSectionWrapper .info .inputWrapper {
    margin-top: 30px;
    display: flex;
    column-gap: 30px;
}

.selectPaymentContainer .paymentSectionWrapper .info .inputWrapper input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #C4C4C4;
    height: 48px;
    background: #FFF;
    padding: 0px 20px;
}

.selectPaymentContainer .paymentSectionWrapper .info .inputWrapper select {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #C4C4C4;
    height: 48px;
    background: #FFF;
    padding: 0px 20px;
    font-size: 16px;
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none;
    background-image: url("../../../public/Assets/ArrowDown.svg");
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 12px;
}

.selectPaymentContainer .paymentSectionWrapper .info .companyWrapper {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.selectPaymentContainer .paymentSectionWrapper .info .companyWrapper .checkBox {
    height: 20px;
    width: 20px;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectPaymentContainer .paymentSectionWrapper .info .companyWrapper span {
    display: block;
    margin-left: 10px;
    margin-right: 5px;
}

.selectPaymentContainer .paymentSectionWrapper .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.selectPaymentContainer .paymentSectionWrapper .row div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectPaymentContainer .paymentSectionWrapper .row span:nth-child(1) {
    font-weight: 500;
    letter-spacing: 0.32px;
}

.selectPaymentContainer .paymentSectionWrapper .row span:nth-child(2) {
    font-weight: 600;
    letter-spacing: 0.32px;
}

.selectPaymentContainer .paymentSectionWrapper .total {
    font-size: 24px;
    font-weight: 600;
}

.selectPaymentContainer .paymentSectionWrapper .couponCodeWrapper {
    margin-top: 30px;
}

.selectPaymentContainer .paymentSectionWrapper .couponCodeWrapper input {
    width: 50%;
    height: 48px;
    border-radius: 5px;
    border: 1px solid #C4C4C4;
    padding: 0px 20px;
}

.selectPaymentContainer .paymentSectionWrapper .couponCodeWrapper button {
    width: 150px;
    height: 48px;
    font-size: 16px;
    border-radius: 5px;
    background: #808080;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.32px;
    border: none;
    margin-left: 30px;
}

.selectPaymentContainer .paymentSectionWrapper .payWrapper {
    margin-top: 30px;
    display: flex;
}

.selectPaymentContainer .paymentSectionWrapper .payWrapper button {
    width: 50%;
    height: 48px;
    border-radius: 5px;
    background: #0078FF;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    border: none;
    margin-right: 30px;
}

.selectPaymentContainer .paymentSectionWrapper .payWrapper .info1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3px 0px;
}

.selectPaymentContainer .paymentSectionWrapper .payWrapper .info1 div {
    display: flex;
    align-items: center;
    color: #808080;
    font-size: 12px;
    letter-spacing: 0.24px;
    text-align: center;
}

.selectPaymentContainer .paymentSectionWrapper .payWrapper .info1 div svg {
    margin-right: 3px;
}

.selectPaymentContainer .paymentSectionWrapper p {
    margin-top: 30px;
    color: #404040;
    font-size: 16px;
    letter-spacing: 0.32px;
    margin-bottom: 10px;
}

.selectPaymentContainer .paymentSectionWrapper p a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.selectPaymentContainer .couponCodeApplied {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.selectPaymentContainer .couponCodeApplied span {
    color: #009B77;
    font-weight: 600;
    letter-spacing: 0.32px;
    margin-left: 10px;
}

.selectPaymentContainer .couponCodeApplied button {
    width: 100px;
    height: 30px;
    border-radius: 50px;
    background: rgba(138, 67, 255, 0.10);
    border: none;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    margin-left: 15px;
}

.selectPaymentContainer .couponCodeApplied button svg {
    cursor: pointer;
}

@media screen and (max-width: 960px) {
    .selectPaymentContainer {
        margin-top: 100px;
        padding: 0px 20px;
        padding-bottom: 50px;
    }

    .selectPaymentContainer .title {
        font-size: 36px;
    }

    .selectPaymentContainer .paymentSectionWrapper .info {
        padding: 20px;
    }
}

@media screen and (max-width: 768px) {
    .selectPaymentContainer .paymentSectionWrapper {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .selectPaymentContainer .title {
        font-size: 26px;
    }

    .selectPaymentContainer .paymentSectionWrapper .info .head {
        font-size: 14px;
    }

    .selectPaymentContainer .paymentSectionWrapper .info .head div {
        font-size: 14px;
    }

    .selectPaymentContainer .paymentSectionWrapper .divider {
        margin-top: 30px;
        border-bottom: 1px solid #E8E8E8;
    }

    .selectPaymentContainer .paymentSectionWrapper .info .inputWrapper {
        margin-top: 20px;
        column-gap: 15px;
    }

    .selectPaymentContainer .paymentSectionWrapper .info .inputWrapper input {
        font-size: 14px;
        height: 42px;
    }

    .selectPaymentContainer .paymentSectionWrapper .info .inputWrapper select {
        font-size: 14px;
        height: 42px;
    }

    .selectPaymentContainer .paymentSectionWrapper .info .companyWrapper {
        margin-top: 20px;
    }

    .selectPaymentContainer .paymentSectionWrapper .row {
        margin-top: 20px;
        font-size: 14px;
    }

    .selectPaymentContainer .paymentSectionWrapper .total {
        font-size: 18px;
    }

    .selectPaymentContainer .paymentSectionWrapper .info .companyWrapper span {
        font-size: 14px;
    }

    .selectPaymentContainer .paymentSectionWrapper .couponCodeWrapper input {
        height: 42px;
        font-size: 14px;
    }

    .selectPaymentContainer .paymentSectionWrapper .couponCodeWrapper button {
        width: 100px;
        font-size: 14px;
        height: 42px;
    }

    .selectPaymentContainer .paymentSectionWrapper .payWrapper {
        margin-top: 20px;
        align-items: center;
    }

    .selectPaymentContainer .paymentSectionWrapper .payWrapper button {
        height: 42px;
        font-size: 14px;
    }

    .selectPaymentContainer .paymentSectionWrapper .payWrapper .info1 div {
        font-size: 10px;
    }

    .selectPaymentContainer .paymentSectionWrapper p {
        font-size: 14px;
    }
}