.toolsInfoContainer {
    margin-top: 100px;
    padding: 0px 80px;
}

.toolsInfoContainer h2 {
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 0.66px;
    text-align: center;
    width: 80%;
    margin: auto;
}

.toolsInfoContainer .card {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    gap: 50px;
}

.toolsInfoContainer .card .info {
    width: 50%;
}

.toolsInfoContainer .card .info h3 {
    font-size: 44px;
    font-weight: 700;
}

.toolsInfoContainer .card .info p {
    margin-top: 10px;
    font-size: 20px;
    letter-spacing: 0.4px;
}

.toolsInfoContainer .card .info .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.toolsInfoContainer .card .info .grid .row {
    display: flex;
    align-items: center;
}

.toolsInfoContainer .card .info .grid .row span {
    margin-left: 10px;
    color: #333;
    letter-spacing: 0.32px;
}

.toolsInfoContainer .card .info button {
    margin-top: 30px;
    border-radius: 5px;
    background: #FF4359;
    padding: 10px 20px;
    font-size: 20px;
    color: #FFF;
    letter-spacing: 0.2px;
    border: none;
    font-weight: 600;
}

.toolsInfoContainer .card .info .subInfo {
    width: 80%;
    margin-top: 30px;
    color: #404040;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.36px;
}

.toolsInfoContainer .card .info .profile {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.toolsInfoContainer .card .info .profile .userImage {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 10px;
}

.toolsInfoContainer .card .info .profile .userDetails {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 500;
}

.toolsInfoContainer .card .info .profile span:nth-child(2) {
    color: #404040;
    font-weight: 300;
}


.toolsInfoContainer .card .box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border: 50px solid #dcdcdc;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    object-fit: contain;
    /* Ensure content doesn't overflow the box */
}



.toolsInfoContainer .imageContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;
}

.toolsInfoContainer .imageContainer .imageWrapper {
    width: 100%;
    border-radius: 15px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

@media screen and (max-width: 960px) {
    .toolsInfoContainer {
        padding: 0px 20px;
    }

    .toolsInfoContainer h2 {
        font-size: 36px;
        width: 90%;
    }

    .toolsInfoContainer .card {
        gap: 25px;
    }

    .toolsInfoContainer .card .info {
        width: 60%;
    }

    .toolsInfoContainer .card .info h3 {
        font-size: 36px;
    }


    .toolsInfoContainer .card .info p {
        font-size: 16px;
    }

    .toolsInfoContainer .card .info .grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .toolsInfoContainer .card .info .grid .row span {
        font-size: 14px;
    }

    .toolsInfoContainer .card .info button {
        font-size: 16px;
    }

    .toolsInfoContainer .card .info .subInfo {
        width: 90%;
        font-size: 16px;
    }

    .toolsInfoContainer .card .box {
        border: 25px solid #dcdcdc;
    }
}

@media screen and (max-width: 768px) {
    .toolsInfoContainer h2 {
        font-size: 26px;
        width: 95%;
    }

    .toolsInfoContainer .card {
        gap: 25px;
        flex-direction: column-reverse;
        margin-top: 50px;
    }

    .toolsInfoContainer .card .info {
        width: 100%;
    }

    .toolsInfoContainer .card .info h3 {
        font-size: 26px;
    }

    .toolsInfoContainer .card .info p {
        font-size: 14px;
    }

    .toolsInfoContainer .card .info .grid .row span {
        font-size: 14px;
    }

    .toolsInfoContainer .card .info button {
        font-size: 14px;
    }

    .toolsInfoContainer .card .info .subInfo {
        width: 90%;
        font-size: 14px;
    }

    .toolsInfoContainer .card .box {
        width: 100%;
        height: 200px;
    }

    .toolsInfoContainer .imageContainer {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        margin-top: 50px;
    }

    .toolsInfoContainer .imageContainer .imageWrapper {
        padding: 20px;
    }
}