.threadsPosts {
    padding: 0px 5%;
    display: grid;
    gap: 20px;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.threadsPosts .card .cover {
    width: 240px;
    height: 300px;
    object-fit: contain;
    border-radius: 10px;
}

.threadsPosts .card .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3px;
}

.threadsPosts .card .info img {
    border-radius: 50%;
}

.threadsPosts .card .info .name {
    font-weight: 600;
    font-size: 12px;
    display: inline-block;
    width: 198px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    color: black;
}

.threadsPosts .card .info div {
    display: flex;
    flex-direction: column;
}

.threadsPosts .card .info .type {
    font-size: 10px;
    color: rgba(13, 18, 22, 0.7)
}

.ThreadsPostsNumbers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.ThreadsPostsNumbers .page {
    display: flex;
    text-decoration: none;
    width: 26px;
    height: 26px;
    margin: 0px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 14px;
}