.reviewSectionContainer {
    margin-top: 66px;
    width: 100%;
    padding: 85px 80px 85px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(230, 253, 249, 0.50);
    gap: 30px;
}

.reviewSectionContainer p {
    color: #002F27;
    text-align: center;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.56px;
}

.reviewSectionContainer span {
    color: #002F27;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.28px;
}

@media screen and (max-width: 1200px) {
    .heroSectionContainer {
        grid-template-columns: 40% 60%;
    }
}

@media screen and (max-width: 960px) {
    .heroSectionContainer {
        padding: 0px 20px;
        margin-top: 90px;
    }

    .heroSectionContainer .leftSideBar .subHead {
        font-size: 14px;
    }

    .heroSectionContainer .leftSideBar h1 {
        font-size: 36px;
    }

    .heroSectionContainer .leftSideBar .mainButton {
        font-size: 16px;
    }

    .heroSectionContainer .leftSideBar .placeHolder {
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    .reviewSectionContainer {
        padding: 50px;
    }

    .reviewSectionContainer p {
        font-size: 18px;
    }
}

@media screen and (max-width: 460px) {
    .reviewSectionContainer {
        padding: 50px;
    }

    .reviewSectionContainer p {
        font-size: 18px;
    }
}


@media screen and (max-width: 1200px) {
    .reviewSectionContainer {
        padding: 50px;
    }

    .reviewSectionContainer p {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    .reviewSectionContainer {
        padding: 50px;
    }

    .reviewSectionContainer p {
        font-size: 18px;
    }
}