.userRatingContainer {
    margin-top: 100px;
    padding: 100px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgba(230, 253, 249, 0.50);
}

.userRatingContainer svg {
    width: 80%;
    margin: auto;
}

.userRatingContainer p {
    width: 85%;
    margin: 30px 0px;
    color: #002F27;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0.56px;
}

.userRatingContainer span {
    color: #002F27;
    font-size: 14px;
    letter-spacing: 0.28px;
}

@media screen and (max-width: 960px) {
    .userRatingContainer {
        padding: 50px 20px;
    }
    
    .userRatingContainer p {
        font-size: 22px;
    }
    
    .userRatingContainer span {
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {    
    .userRatingContainer svg {
        height: 30px;
    }
    
    .userRatingContainer p {
        width: 95%;
        font-size: 18px;
    }
    
    .userRatingContainer span {
        font-size: 12px;
    }
}

@media screen and (max-width: 550px) {
    .userRatingContainer svg {
        height: 25px;
    }

    .userRatingContainer p {
        width: 100%;
        font-size: 16px;
        margin: 20px 0px;
    }
}