.form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    padding: 12px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 8px 2px;
    resize: vertical;
    height: 40px;
    background: white;
    font-size: 14px;
    color: #3a3a3a;
    font-family: helvetica, tahoma, calibri, sans-serif;
}

.form button {
    width: 100%;
}