.colorPickerContainerScroll {
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
}

.colorPickerContainerScroll::-webkit-scrollbar {
    display: block;
    width: 6px;
    background-color: transparent;
    border-radius: 10px;
    overflow: visible;
}

.colorPickerContainerScroll::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 100px;
}

.colorPickerContainer {
    width: 100vw;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    padding: 0px 80px;
}

.colorPickerContainer .head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.colorPickerContainer .head svg {
    width: 25px;
    height: 25px;
}

.colorPickerContainer .head h1 {
    margin-top: 30px;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
}

.colorPickerContainer .head p {
    margin-top: 20px;
    font-size: 20px;
    width: 70%;
    text-align: center;
}

.colorPickerContainer .colorGenerator {
    width: 100%;
    max-width: 960px;
    align-self: center;
    background-color: #fff;
    margin-top: 45px;
    display: flex;
    position: relative;
}

.colorPickerContainer .colorGenerator .colorWrapper {
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1;
    border: 1px solid #DCDCDC;
    border-radius: 25px;
    display: flex;
    overflow: hidden;
}

.colorPickerContainer .colorGenerator .colorWrapper h2 {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    position: relative;
    width: max-content;
    cursor: pointer;
}

.colorPickerContainer .colorGenerator .leftSide {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    min-width: 300px;
    background-color: #FAFAFA;
    border-radius: 25px 0px 0px 25px;
    padding: 40px 20px;
}

.colorPickerContainer .colorGenerator .leftSide span {
    font-size: 14px;
    font-weight: 600;
    margin-top: 30px;
    display: block;
}

.colorPickerContainer .colorGenerator .leftSide p {
    font-size: 10px;
    margin-top: 5px;
}

.colorPickerContainer .colorGenerator .leftSide .colorDetails {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    border: 1px solid #DCDCDC;
    padding: 0px 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.colorPickerContainer .colorGenerator .leftSide .colorDetails span {
    margin-top: 0px;
    font-weight: 400;
}

.colorPickerContainer .colorGenerator .leftSide .colorDetails div {
    display: flex;
    align-items: center;
}

.colorPickerContainer .colorGenerator .leftSide .colorDetails .box {
    width: 24px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #DCDCDC;
    margin-right: 10px;
}

.colorPickerContainer .colorGenerator .leftSide .colorDetails span {
    text-transform: uppercase;
    cursor: pointer;
}

.colorPickerContainer .colorGenerator .leftSide .colorInfo a {
    margin-top: 10px;
    font-size: 10px;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: #0078FF;
    text-decoration: none;
}

.colorPickerContainer .colorGenerator .leftSide .colorInfo a:hover {
    text-decoration: underline;
}

.colorPickerContainer .colorGenerator .leftSide .buttons {
    margin-top: 30px;
}

.colorPickerContainer .colorGenerator .leftSide .buttons button {
    width: 100%;
    height: 47px;
    border-radius: 25px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    border: 1px solid #DCDCDC;
    background-color: #fff;
    color: #000;
}

.colorPickerContainer .colorGenerator .leftSide .buttons button:nth-child(2) {
    margin-top: 10px;
    width: 100%;
    height: 47px;
    background-color: #0078FF;
    border-radius: 25px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.colorPickerContainer .colorGenerator .leftSide .info {
    margin-top: 10px;
    font-size: 10px;
    color: #808080;
    text-align: center;
    font-weight: 400;
}

.colorPickerContainer .colorGenerator .leftSide .info a {
    color: #808080;
    text-decoration: none;
    font-weight: 400;
}

.colorPickerContainer .colorGenerator .leftSide .info a:hover {
    color: blue;
    text-decoration: underline
}


.colorPickerContainer .colorGenerator .rightSide {
    padding-top: 40px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 40px;
}

.colorPickerContainer .colorGenerator .rightSide img {
    width: 100%;
    max-width: 507px;
}

.colorPickerContainer .colorGenerator .rightSide .colorSection {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
    width: 537px;
    max-width: 537px;
}

.colorPickerContainer .colorGenerator .rightSide .colorSection .colors {
    margin-top: 5px;
    display: flex;
    width: 507px;
    max-width: 507px;
    position: absolute;
}

.colorPickerContainer .colorGenerator .rightSide .colorSection .colors .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.colorPickerContainer .colorGenerator .rightSide .colorSection .colors .card:hover {
    width: 200%;
    min-width: 100px;
}

.colorPickerContainer .colorGenerator .rightSide .colorSection .colors .card:hover .dot {
    display: none !important;
}

.colorPickerContainer .colorGenerator .rightSide .colorSection .colors .card:hover span {
    display: flex;
    text-transform: uppercase;
}

.colorPickerContainer .colorGenerator .rightSide .colorSection .colors .colorBox {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colorPickerContainer .colorGenerator .rightSide .colorSection .colors .colorBox .dot {
    width: 7px;
    height: 7px;
    border-radius: 7px;
    background-color: #fff;
    display: none;
}

.colorPickerContainer .colorGenerator .rightSide .colorSection .colors span {
    font-size: 10px;
    font-weight: 400;
    display: none;
}

.colorPickerContainer .colorGenerator .rightSide .colorSection .button {
    height: 45px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    position: absolute;
    right: -30px;
}

.colorPickerContainer .colorGenerator .rightSide .colorSection button {
    background-color: #fff;
    border: 1px solid #dcdcdc;
    width: 20px;
    cursor: pointer;
}

.colorPickerContainer .colorGenerator .rightSide .colorSection button:nth-child(1) {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.colorPickerContainer .colorGenerator .rightSide .colorSection button:nth-child(2) {
    border-top: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.colorPickerContainer .colorGenerator .rightSide .colorSection a {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: #0078FF;
    text-decoration: none;
}

.colorPickerContainer .colorGenerator .rightSide .colorSection a:hover {
    text-decoration: underline;
}


@media screen and (max-width: 1100px) {
    .colorPickerContainer .colorGenerator .rightSide .colorSection {
        width: 100%;
        max-width: 100%;
    }

    .colorPickerContainer .colorGenerator .rightSide img {
        width: 100%;
        max-width: calc(100% - 30px);
    }

    .colorPickerContainer .colorGenerator .rightSide .colorSection .colors {
        width: 100%;
        max-width: calc(100% - 30px);
        position: relative;
    }

    .colorPickerContainer .colorGenerator .colorWrapper {
        display: flex;
        flex-direction: column-reverse;
    }

    .colorPickerContainer .colorGenerator .rightSide {
        padding: 40px 40px;
    }

    .colorPickerContainer .colorGenerator .leftSide {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        border-radius: 0px;
        padding: 40px 40px;
    }
}

@media screen and (max-width: 650px) {
    .colorPickerContainer {
        padding: 0px 20px;
    }

    .colorPickerContainer .head h1 {
        font-size: 26px;
        width: 100%;
    }

    .colorPickerContainer .head p {
        font-size: 16px;
        width: 100%;
    }
}