.storyTellingContainer {
    margin-top: 100px;
    padding: 0px 80px;
}

.storyTellingContainer h2 {
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 0.66px;
}

.storyTellingContainer .gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 15px;
    margin-top: 40px;
}

.storyTellingContainer .gridContainer .card {
    display: flex;
    flex-direction: column;
}

.storyTellingContainer .gridContainer .card:hover .info {
    display: none;
}

.storyTellingContainer .gridContainer .card .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    border-radius: 15px;
    height: 500px;
}

.storyTellingContainer .gridContainer .head {
    display: block;
    margin-top: 25px;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.6px;
}

.storyTellingContainer .gridContainer .subHead {
    font-size: 18px;
    letter-spacing: 0.27px;
    margin-top: -10px;
}

.storyTellingContainer .gridContainer .agency {
    margin-top: 30px;
    color: #FFF7DF;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.27px;
}

.storyTellingContainer .gridContainer .card:hover .userInfo {
    display: flex;
}

.storyTellingContainer .gridContainer .card .userInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    border-radius: 15px;
    background: rgba(0, 236, 194, 0.50);
    display: none;
    height: 500px;
}

.storyTellingContainer .gridContainer .card .userInfo p {
    color: #002F27;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.27px;
}

.storyTellingContainer .gridContainer .card .userInfo span {
    display: block;
    margin-top: 20px;
    color: #002F27;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.27px;
}

@media screen and (max-width: 1050px) {
    .storyTellingContainer .gridContainer {
        gap: 20px;
    }
}

@media screen and (max-width: 960px) {
    .storyTellingContainer {
        padding: 0px 20px;
    }

    .storyTellingContainer h2 {
        font-size: 36px;
    }
}

@media screen and (max-width: 768px) {
    .storyTellingContainer h2 {
        font-size: 26px;
    }
}