.latestBlog {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  margin-bottom: 20px;
}

.latestBlog .cardText {
  margin-left: 30px;
  margin-right: 100px;
}

.latestBlog img {
  width: 50%;
  height: 10%;
  border-radius: 9px;
  margin-left: 56px;
}

.cardText .topic {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #767b80;
}

.cardText .createdAt {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #989c9f;
  margin-left: 5px;
}
.cardText .cardTitle {
  margin-top: 15px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.01em;
  cursor: pointer;
}

.cardText .cardDesc {
  margin-top: 15px;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.01em;

  color: #989c9f;
}

.cardTitle a {
  color: black;
  cursor: pointer;
}

.cardTitle:hover {
  color: #ff755c;
  cursor: pointer;
}

/* user */

.userInfo {
  display: flex;
}

.cardText img {
  margin-top: 40px;
  max-width: 60px;
  max-height: 60px;
  border-radius: 50%;
  margin-left: 0px;
}

.name {
  list-style: none;
  margin-top: 45px;
  margin-left: 20px;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.01em;
}

.role {
  list-style: none;
  margin-left: 20px;
  font-weight: 100;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
}

@media (max-width: 768px) {
  .latestBlog {
    flex-direction: column;
    align-items: center;
  }
  .latestBlog .cardText {
    margin-top: 30px;
    margin-left: 100px;
  }
  .latestBlog img {
    width: 75%;
    height: 10%;
    border-radius: 9px;
    margin-left: 0px;
  }
}
