.blogInfo {
    display: flex;
    flex-direction: column;
    letter-spacing: 0.02em;
    margin-top: -40px;
    margin-bottom: 30px;
    font-size: 18px;
}

.blogInfo a {
    color: black;
    font-size: 18px;
}

.blogInfo a:hover {
    color: blue;
}

.blogInfo .lastUpdated {
    margin-top: 20px;
}

@media screen and (max-width: 626px) {
    .blogInfo {
        font-size: 14px;
    }

    .blogInfo a {
        font-size: 14px;
    }
}