.BlogSection .TitleSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000;
}

.BlogSection .link {
  text-decoration: none;
}

.BlogSection .TitleSection h5 {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ff4359;
}

.BlogSection .TitleSection h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: 0.01em;
  color: #000000;
}



.BlogSection .FirstPost {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 0px;
  align-items: center;
  cursor: pointer;
  margin-top: 120px;
}

.BlogSection .FirstPost .DisplayImage {
  width: 100%;
  max-width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.BlogSection .FirstPost .DisplayImage img {
  display: block;
  max-width: 100%;
  height: auto;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  border-radius: 5px;
  object-fit: contain;
}

.BlogSection .FirstPost .DisplayImage:hover img {
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
}


.BlogSection .FirstPost .Tag {
  display: inline;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.025em;
  color: #ff43ca;
  background: rgba(255, 67, 202, 0.1);
  border-radius: 15px;
  padding: 8px 16px;
  cursor: pointer;
}

.BlogSection .FirstPost h2 {
  margin-top: 15px;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0.025em;
  color: #000000;
}

.BlogSection .FirstPost h2:hover {
  text-decoration: underline;
  text-decoration-color: #ff4359;
}

.BlogSection .FirstPost p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.025em;
  color: #000000;
  margin-top: 15px;
  height: 72px;
  overflow: hidden;
}

.BlogSection .FirstPost .PublishInfo {
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.025em;
  color: #404040;
  margin-top: 25px;
}

.BlogSection .FirstPost .PublishInfo span:nth-child(1) {
  margin-right: 30px;
}

.BlogSection .FirstPost .PublishInfo .author:hover {
  color: #000000;
}

.BlogSection .FirstPost .Profile {
  margin-top: 25px;
  display: flex;
  align-items: center;
}

.BlogSection .FirstPost .Profile img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.BlogSection .FirstPost .UserInfo {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 16px;
}

.BlogSection .FirstPost .UserInfo span:nth-child(2) {
  color: #404040;
  font-weight: 400;
}

.BlogSection .ButtonContainer {
  margin: 10px 50px 40px 50px;

}

.BlogSection .ButtonContainer button {
  background-color: #fff;
  border: none;
  margin-right: 50px;
  font-weight: 500;
  font-size: 12px;
  color: #333333;
  letter-spacing: 0.025em;
  padding-bottom: 10px;
  cursor: pointer;
  margin: 5px;
  border-bottom: 1px solid transparent;
  border-bottom: 1px solid #404040;
}

.BlogSection .ButtonContainer button:hover {
  color: #ff4359;
  border-bottom: 1px solid #ff4359;
}

.BlogSection .ButtonContainer .Active {
  color: #ff4359;
  border-bottom: 1px solid #ff4359;
}

.BlogSection .Grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin: 0px 50px;
}

.BlogSection .Grid .Card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.BlogSection .Grid .Card .DisplayImage {
  width: 384px;
  height: 216px;
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  object-fit: contain;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}


.BlogSection .Grid .Card .DisplayImage:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}


.BlogSection .Grid .Card .Tag {
  font-weight: 500;
  font-size: 10px;
  line-height: 18px;
  letter-spacing: 0.025em;
  color: #ff43ca;
  background: rgba(255, 67, 202, 0.1);
  border-radius: 15px;
  padding: 8px 16px;
}

.BlogSection .Grid .Card h2 {
  margin-top: 15px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.025em;
  color: #000000;
}

.BlogSection .Grid .Card h2:hover {
  text-decoration: underline;
  text-decoration-color: #ff4359;
}

.BlogSection .Grid .Card p {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.025em;
  margin-top: 5px;
  height: 54px;
  overflow: hidden;
}

.BlogSection .Grid .Card .PublishInfo {
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.025em;
  color: #404040;
  margin-top: 15px;
}

.BlogSection .Grid .Card .PublishInfo span:nth-child(1) {
  margin-right: 30px;
}

.BlogSection .Grid .Card .PublishInfo .author:hover {
  color: #000000;
}



.BlogSection .Grid .Card .ProfileInfo {
  margin-top: 15px;
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #404040;
}

.BlogSection .Grid .Card .ProfileInfo img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.BlogSection .Grid .Card .ProfileInfo h6 {
  color: #000000;
  font-size: 12px;
  font-weight: 600;
  margin: 0px 10px;
}



.NewsLetter h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  color: #000000;
}

.NewsLetter .InputWrapper {
  position: relative;
  margin-top: 14px;
}

.NewsLetter .InputWrapper input {
  width: 100%;
  height: 45px;
  font-size: 12px;
  border: 1px solid rgba(255, 67, 89, 0.5);
  border-radius: 30px;
  padding: 0px 20px;
}

.NewsLetter .InputWrapper button {
  position: absolute;
  right: 4px;
  top: 4px;
  background: #ff4359;
  border-radius: 30px;
  color: #fff;
  width: 125px;
  height: 37px;
  border: none;
  font-size: 14px;
  font-weight: 500;
}

.NewsLetter h3 {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  margin-top: 26px;
  margin-bottom: 10px;
}

.NewsLetter .SocialMediaContainer {
  display: flex;
  flex-direction: column;
}

.NewsLetter .SocialMediaContainer button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f8f8f9;
  border-radius: 30px;
  border: none;
  height: 45px;
  padding-left: 26px;
  padding-right: 26px;
  margin-bottom: 15px;
  cursor: pointer;
}

.NewsLetter .SocialMediaContainer button .arrowDiv {
  display: none;
}

.NewsLetter .SocialMediaContainer button:hover {
  background: #FF3850;
  color: #FFFFFF;
}

.NewsLetter .SocialMediaContainer button:hover svg path {
  fill: #FFFFFF;
}

.NewsLetter .SocialMediaContainer button:hover .arrowDiv path {
  stroke: #FFFFFF;
}

.NewsLetter .SocialMediaContainer button:hover .arrowDiv {
  display: block;
}

.NewsLetter .SocialMediaContainer button .social {
  display: flex;
}

.BlogSection .TopPost h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  color: #000000;
}

.BlogSection .TopPost .Card {
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.BlogSection .TopPost .Card img {
  max-width: 100px;
  margin-right: 20px;
  border-radius: 5px;
}

.BlogSection .TopPost .Card h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.025em;
  color: #000000;
}

.BlogSection .loadMoreDiv {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.BlogSection .loadMoreBtn {
  width: 20%;
  height: 50px;
  cursor: pointer;
  border: 1px solid #ff4359;
  background: transparent;
  color: gray;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  -o-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.BlogSection .paginationDiv {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BlogSection .paginationDiv button {
  color: black;
  float: left;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.BlogSection .tagContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  gap: 50px;
}

.BlogSection .tagContainer .tagHeading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 20px;
}

.BlogSection .tagContainer .tagHeading .profileContainer {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.BlogSection .tagContainer .tagHeading .profileContainer img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.BlogSection .tagContainer .tagHeading p {
  text-align: center;
}



.BlogSection .tagContainer .tagHeading .socialMedia {
  display: flex;
  gap: 15px;
}

.BlogSection .tagContainer .tagHeading .socialMedia button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8f8f9;
  border-radius: 50%;
  border: none;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.BlogSection .tagContainer .tagHeading .socialMedia button:nth-child(1):hover {
  background: #19a6ff;
}

.BlogSection .tagContainer .tagHeading .socialMedia button:nth-child(1):hover svg path {
  fill: #FFFFFF;
}


.BlogSection .tagContainer .tagHeading.socialMedia button:nth-child(2):hover {
  background: #0177B5;
}

.BlogSection .tagContainer .tagHeading .socialMedia button:nth-child(2):hover svg path {
  fill: #FFFFFF;
}

.BlogSection .tagContainer .tagHeading .socialMedia button:nth-child(3):hover {
  background: #1877F2;
}

.BlogSection .tagContainer .tagHeading .socialMedia button:nth-child(3):hover svg path {
  fill: #FFFFFF;
}



@media screen and (max-width: 1100px) {
  .BlogSection .Grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .BlogSection .FirstPost {
    /* grid-template-columns: repeat(1, minmax(300px,1fr)); */
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}

@media screen and (max-width: 600px) {
  .BlogSection {
    width: fit-content;
    margin-top: 60px;
  }

  .BlogSection .Grid {
    gap: 40px;
    /* margin: 0px 10px; */
  }

  .BlogSection .FirstPost {
    margin: 0px 50px;
  }

  .BlogSection .TitleSection h2 {
    font-size: 26px;
    color: #000000;
    line-height: normal;
  }

  .BlogSection .TitleSection h2:nth-child(3) {
    margin-bottom: 20px;
  }

  .BlogSection .Grid .Card .DisplayImage {
    width: 100%;
  }
}