.featuresContainer .head {
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 100px;
}

.featuresContainer .head h1 {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0.02em;
}

.featuresContainer .head h3 {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0.02em;
  margin-top: 30px;
}

.featuresContainer .head h6 {
  font-size: 16px;
  color: #404040;
  font-weight: 400;
  padding: 10px 0px;
}

.featuresContainer .head button {
  width: 235px;
  height: 45px;
  background: #ff4359;
  border-radius: 25px;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  margin-top: 30px;
}

.featuresContainer .head button:hover {
  background: #ff3950;
}

/* Grid */ 
.featuresContainer .grid {
  margin-top: 50px;
  padding: 0px 30px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  text-align: center;
}

.featuresContainer .grid p {
  font-size: 14px;
}

/* Black box started */
.featuresContainer .blackBox {
  background-color: #000;
  border-radius: 15px;
  margin: 30px;
  padding: 20px;
  color: #fff;
}

.featuresContainer .blackBox h4 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}

.featuresContainer .blackBox button {
  background: #ff4359;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 8px 15px;
  cursor: pointer;
}

.featuresContainer .blackBox button:hover {
  background: #ff3950;
}


/* Small Tablet Styles */
@media screen and (min-width: 620px) {
  .featuresContainer .head h1 {
    font-size: 42px;
  }
  
  .featuresContainer .head h3 {
    font-size: 38px;
    font-weight: 600;
    letter-spacing: 0.02em;
    margin-top: 30px;
  }
  
  .featuresContainer .head h6 {
    font-size: 18px;
  }

  .featuresContainer .grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .featuresContainer .grid p {
    font-size: 16px;
  }
}

@media screen and (min-width: 960px) {
  .featuresContainer .grid {
    padding: 0px 80px;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  .featuresContainer .grid span {
    font-size: 22px;
  }

  .featuresContainer .grid h4 {
    font-size: 24px;
    font-weight: 600;
  }

  .featuresContainer .grid p {
    font-size: 18px;
  }

  .featuresContainer .blackBox {
    margin: 80px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .featuresContainer .blackBox h4 {
    font-size: 48px;
    width: 60%;
  }

  .featuresContainer .blackBox button {
    margin-right: 100px;
    padding: 15px 30px;
    font-size: 18px;
  }
}