.navigationBarMuse {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: saturate(180%) blur(20px);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.navigationBarMuse .leftSide {
    display: flex;
    align-items: center;
}

.navigationBarMuse .leftSide .big {
    font-size: 20px;
    margin-left: 10px;
    font-weight: 600;
    cursor: pointer;
}

.navigationBarMuse .leftSide .small {
    font-weight: 300;
    cursor: pointer;
}

.navigationBarMuse .rightSide {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.navigationBarMuse .rightSide button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    margin-left: 40px;
    cursor: pointer;
    padding: 6px 10px;
    border: 1px solid #000;
    border-radius: 3px;
}

.navigationBarMuse .rightSide button:hover svg {
    transform: rotate(45deg);
}

.navigationBarMuse .rightSide button svg {
    display: block;
    margin-left: 5px;
    height: 20px;
    width: 20px;
}

.newMuseNav .rightSide {
    display: flex;
    flex-direction: column;
}

.newMuseNav .rightSide button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    cursor: pointer;
    padding: 6px 10px;
    border: 1px solid #000;
    border-radius: 3px;
    margin-top: 20px;
}


/* Hero Section Started*/
.museNew .heroSection {
    margin-top: 70px;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
}

.museNew .heroSection h1 {
    text-align: center;
    font-size: 48px;
    width: 75%;
    padding-top: 40px;
    align-self: center;
    background: linear-gradient(to right,
            #0078ff 0%,
            #00ecc2 24%,
            #ffd75f 50%,
            #ff8a25 75%,
            #ff4359 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.museNew .heroSection p {
    width: 75%;
    text-align: center;
    margin-top: 30px;
    font-size: 22px;
    font-weight: 600;
    align-self: center;
}

.museNew .heroSection button {
    align-self: center;
    margin-top: 45px;
    font-size: 18px;
    font-weight: 600;
    background-color: transparent;
    border: 2px solid #000;
    padding: 6px 12px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    background-color: #000;
    display: flex;
    align-items: center;
}

.museNew .heroSection button:hover svg {
    transform: rotate(45deg);
}

.museNew .heroSection h4 {
    font-size: 22px;
    align-self: center;
    margin-top: 40px;
}

.museNew .imageWrapper {
    position: relative;
    margin-top: 50px;
}

.museNew .imageWrapper iframe {
    width: 80%;
    max-width: 80%;
}

.museNew .imageWrapper .img {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
}

.museNew .imageWrapper .img img {
    width: 70%;
}

.museNew .imageWrapper .youtube {
    position: absolute;
    height: 10%;
    width: 10%;
    max-width: 80px;
    max-height: 80px;
    cursor: pointer;
    border-radius: 50%;
}

.museNew .imageWrapper .wrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin-top: 50px;
}

.museNew .imageWrapper .wrapper iframe {
    position: absolute;
    top: 0;
    width: 90%;
    height: 90%;
    left: 50%;
    transform: translate(-50%, 0);
}

@media screen and (max-width: 960px) {
    .navigationBarMuse {
        display: none;
    }
}

@media (max-width : 900px) {
    .navigationBarMuse .leftSide .big {
        font-size: 16px;
        margin-left: 5px;
    }

    .navigationBarMuse .leftSide .logo {
        width: 50px;
    }

    .navigationBarMuse .rightSide button {
        font-weight: 500;
        margin-left: 20px;
    }

    .navigationBarMuse .rightSide button span {
        font-size: 12px;
    }

    .navigationBarMuse .rightSide button svg {
        height: 15px;
        width: 15px;
    }

    .museNew .heroSection h1 {
        font-size: 32px;
        width: 95%;
    }

    .museNew .heroSection p {
        width: 90%;
        font-size: 18px;
    }

    .museNew .heroSection button {
        font-size: 14px;
        font-weight: 600;
    }
}