/* red poster  */
.redPoster {
    width: 100%;
    height: fit-content;
    padding: 75px 100px 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FF4359;
    margin-top: 100px;
}

.redPosterContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.redPosterTop {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.redPosterHeading {
    width: 100%;
}

.redPosterHeading h2 {
    font-size: 40px;
    line-height: 60px;
    font-weight: 700;
    color: #fff;
}

.redPosterPara {
    width: 90%;
    text-align: center;
    margin-top: 20px;
}

.redPosterPara p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 2%;
    color: #F8F8F9;
}

.redPosterButton {
    width: 100%;
    margin-top: 30px;
}

.redPosterButton button {
    min-width: 220px;
    max-width: fit-content;
    min-height: 40px;
    max-height: fit-content;
    padding: 5px;
    border: none;
    background-color: #fff;
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
}

.redPosterButton button svg {
    margin-left: 10px;
}

.redPosterBottom {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    position: relative;
}

.redPosterBottom svg {
    height: 50px;
    width: 50px;
    position: absolute;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

.redPosterBottom img {
    width: auto;
    height: auto;
    transform: translateY(10px);
    object-fit: cover;
    border-radius: 10px;
    position: relative;
}


.tipsBlock {
    padding: 75px 100px 0 100px;
}

@media (max-width: 1024px) {
    .redPosterTop {
        width: 100%;
    }
}

@media (max-width : 762px) {
    .redPoster {
        padding: 75px 5% 0 5%;
    }

    .redPosterPara {
        width: 90%;
    }

    .tipsBlock {
        padding: 50px 50px 0 50px;
    }
}



.dataBlocks {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
}

.dataBlocks_dataBox {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-top: 50px;
}

.dataBlocks_dataBox_reverse {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-top: 50px;
}

.dataBlocks_dataBox:first-child {
    margin-top: 0;
}

.blockImage {
    height: 100%;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.20);
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.20);
}

.blockText {
    width: 60%;
    height: fit-content;
    padding: 70px 5px 70px 80px;
}

.blockText_icon img {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
    border-radius: 50%;
    background-position: center;
}

.blockText_title h1 {
    font-size: 42px;
}

.blockText_title h2 {
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 2%;
    font-weight: 600;
    color: #000;
    margin-bottom: 20px;
}

.blockText_description p {
    font-size: 18px;
    color: #101010;
    line-height: 27px;
    letter-spacing: 2%;
    font-weight: 400;
    margin-top: 5px;
}

.blockText_button button {
    width: 190px;
    height: 41px;
    padding: 5px;
    text-align: center;
    background-color: #000;
    color: #fff;
    border-radius: 3px;
    margin-top: 25px;
    cursor: pointer;
    border: none;
    letter-spacing: 0.02em;
    font-weight: 600;
}

.dataBlocks_dataBox_reverse .blockText {
    padding: 70px 80px 70px 5px;
}

@media (max-width : 762px) {
    .dataBlocks_dataBox {
        flex-direction: column;
        text-align: center;
    }

    .dataBlocks_dataBox_reverse {
        flex-direction: column;
        text-align: center;
    }

    .top_block .dataBlocks_dataBox_reverse {
        flex-direction: column-reverse;
    }

    .blockText_button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .blockImage {
        width: 100%;
        height: auto;
        padding: 10px;
    }

    .blockText {
        width: 100%;
        padding: 30px 10px;
    }

    .dataBlocks_dataBox_reverse .blockText {
        width: 100%;
        padding: 30px 10px;
    }
}

/* video block  */
.videoContainer {
    width: 100%;
    height: fit-content;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
}

.videoBlock {
    width: 80%;
    height: 40vw;
    border-radius: 10px;
    background-position: center;
}


/* top block  */
.top_block {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    margin-top: 118px;
}

.top_block .dataBlocks_dataBox_reverse {
    margin-top: 0;
}


/* how to section */

.how_to_container {
    margin-top: 100px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.how_to_container h2 {
    font-weight: 600;
    text-align: center;
    padding: 20px 0px;
}

.how_to_container .card_container {
    width: 90%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5%;
    text-align: center;
}

.how_to_container .card_container2 {
    width: 80%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap: 50px;
}

.how_to_container .card h4 {
    font-size: 18px;
    font-weight: 600;
}

.how_to_container .card {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}



.how_to_container .card h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.how_to_container .card p {
    font-size: 17px;
    word-wrap: break-word;
}

@media (max-width : 762px) {

    .how_to_container .card_container {
        width: 100%;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0 5%;
    }

    .how_to_container .card {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }

}

.discover_apps_container {
    margin-top: 150px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discover_apps_container .more_apps_container {
    width: 90%;
    height: auto;
    border: 1px solid #EFF0F2;
    border-radius: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
}

.discover_apps_container .more_apps_container h2 {
    font-weight: 400;
    margin-bottom: 40px;
}


.discover_apps_container .more_apps_container .button_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.discover_apps_container .more_apps_container .button_container a {
    cursor: pointer;
    height: 40px;
    padding: 0px 20px;
    font-size: 15px;
    border: 1px solid #EFF0F2;
    border-radius: 10px;
    background: transparent;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

.discover_apps_container .more_apps_container button {
    cursor: pointer;
    height: 40px;
    padding: 0px 20px;
    font-size: 15px;
    border: 1px solid #EFF0F2;
    border-radius: 10px;
    background: transparent;
    margin-top: 20px;
}



.discover_apps_container .more_apps_container button:hover {
    border: 1px solid #FF4359;
    color: #FF4359;
    transition: .2s;
}

@media (max-width : 762px) {
    .discover_apps_container .more_apps_container .button_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}


.questionsContainer {
    padding: 75px 100px 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.questionsContainer .heading {
    font-size: 32px;
    text-align: center;
    font-weight: 600;
}

@media (max-width : 762px) {
    .questionsContainer {
        margin-top: 50px;
        padding: 0px 5%;
    }
}

.card_container_new {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 75px 100px 0 100px;
}

.card_container_new .card {
    width: 100%;
}

@media (max-width : 1000px) {
    .card_container_new {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width : 762px) {
    .card_container_new {
        grid-template-columns: repeat(1, 1fr);
        padding: 0px 5%;
    }

    .how_to_container h2 {
        font-size: 22px;
    }
}


.funnyIdea {
    width: 55%;
    margin-left: 20px;
    text-align: center;
    padding: 80px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.funnyIdea h6 {
    font-size: 16px;
    font-weight: 400;
}

.funnyIdea p {
    font-weight: 600;
    font-size: 20px;
    color: #101010;
    margin: 25px 0px;
}

.funnyIdea button {
    padding: 2px 15px;
    border: 1px solid #000000;
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
    font-size: 22px;
    font-weight: 400;
}

.funnyIdea button:hover {
    background-color: #000;
    color: #fff;
}

.blockText1 {
    width: 45%;
}

@media (max-width : 762px) {
    .funnyIdea {
        width: 100%;
        padding: 10px;
        margin-top: 20px;
        height: 300px;
    }

    .top_block {
        margin: 100px 0px !important;
    }

    .blockText1 {
        width: 100%;
        padding: 10px;
    }
}