.quoteContainer {
    margin-top: 120px;
    padding: 0px 80px;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.quoteContainer .decor {
    align-self: center;
}

.quoteContainer h1 {
    margin-top: 30px;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    width: 80%;
    align-self: center;
}

.quoteContainer .headInfo {
    margin-top: 30px;
    font-size: 20px;
    align-self: center;
    text-align: center;
}

.quoteContainer .author {
    margin-top: 30px;
    color: #0078FF;
    text-transform: uppercase;
    align-self: center;
    font-weight: 600;
    text-decoration: none;
}

.quoteContainer .author:hover {
    text-decoration: underline;
}

.quoteContainer .divider {
    width: 80px;
    border: 0.5px solid #000;
    margin-top: 30px;
    align-self: center;
}

.quoteContainer .imageWrapper {
    margin-top: 50px;
    width: 100%;
    max-width: 768px;
    align-self: center;
}

.quoteContainer .imageWrapper a {
    text-decoration: none;
    color: #0078FF;
}

.quoteContainer .imageWrapper a:hover {
    text-decoration: underline;
}

.quoteContainer .imageWrapper img {
    object-fit: contain;
}

.quoteContainer .info {
    margin-top: 30px;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0078FF;
}

.quoteContainer .info a {
    color: #0078FF;
    text-decoration: none;
    font-size: 18px;
}

.quoteContainer .info a:hover {
    text-decoration: underline;
}

.quoteContainer .info svg {
    margin-left: 10px;
}

.quoteContainer .similarContainer {
    margin-top: 100px;
    font-size: 44px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
}

.quoteContainer .head {
    width: 80%;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    align-self: center;
}

.quoteContainer .similarContainer .card {
    margin-top: 50px;
    border: 50px solid rgba(255, 138, 37, 0.10);
    max-width: 786px;
    align-self: center;
    border-radius: 10px;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
}

.quoteContainer .similarContainer .card svg {
    align-self: center;
}

.quoteContainer .similarContainer .card p {
    font-size: 22px;
    text-align: center;
    margin-top: 30px;
}

.quoteContainer .similarContainer .card .author {
    color: #0078FF;
    font-size: 14px;
    text-decoration: none;
}

.quoteContainer .similarContainer .card .author:hover {
    text-decoration: underline;
}

.quoteContainer .similarContainer .card .tags {
    margin-top: 30px;
    align-self: center;
    display: flex;
    gap: 20px;
}

.quoteContainer .similarContainer .card .tags a {
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
    color: black;
}

.quoteContainer .similarContainer .card .tags span {
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
}

.quoteContainer .topics {
    margin-top: 100px;
    font-size: 44px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
}

.quoteContainer .topics .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.quoteContainer .topics .tags a {
    border: 1px solid #dcdcdc;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.quoteContainer .topics .tags a:hover {
    border-color: #0078FF;
    color: #0078FF;
    text-decoration: underline;
}

@media screen and (max-width: 650px) {
    .quoteContainer {
        padding: 0px 20px;
    }

    .quoteContainer h1 {
        font-size: 26px;
        width: 100%;
    }

    .quoteContainer .headInfo {
        font-size: 16px;
    }

    .quoteContainer .similarContainer .card {
        border: 25px solid rgba(255, 138, 37, 0.10);
        margin-top: 30px;
    }

    .quoteContainer .similarContainer .card p {
        font-size: 18px;
    }

    .quoteContainer .similarContainer .card .author {
        font-size: 12px;
    }

    .quoteContainer .similarContainer .card .tags a {
        font-size: 12px;
    }

    .quoteContainer .similarContainer .card .tags span {
        font-size: 12px;
    }

    .quoteContainer .info a {
        font-size: 16px;
    }

    .quoteContainer .head {
        width: 100%;
        font-size: 24px;
    }
}