.ratingContainerParent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    padding: 0px 100px 0 100px;
    margin-top: 100px;
}

.ratingContainerParent .ratingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.ratingContainerParent .ratingContainer .ratingTitle {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 0.02em;
    margin-bottom: 4px;
    align-self: center;
}

.ratingContainerParent .ratingContainer div {
    display: flex;
    align-items: center;
}

.ratingContainerParent .ratingContainer span {
    display: block;
    font-size: 20px;
    font-weight: 500;
    margin-right: 4px;
}

.ratingContainerParent .ratingContainer .logo {
    margin-top: 10px;
    height: 28px;
    width: auto;
}

@media screen and (max-width: 960px) {
    .ratingContainerParent {
        gap: 30px;
        padding: 0px 20px;
    }

    .ratingContainerParent .ratingContainer .ratingTitle {
        font-size: 18px;
    }

    .ratingContainerParent .ratingContainer svg {
        height: 16px !important;
    }

    .ratingContainerParent .ratingContainer .happyUserSvg {
        height: 14px !important;
    }

    .ratingContainerParent .ratingContainer span {
        font-size: 18px;
    }

    .ratingContainerParent .ratingContainer p {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    .storyTellingContainer h2 {
        font-size: 26px;
    }

    .ratingContainerParent {
        gap: 15px;
    }

    .ratingContainerParent .ratingContainer span {
        font-size: 16px;
    }

    .ratingContainerParent .ratingContainer p {
        font-size: 12px;
    }
}