.titleGeneratorContainerScroll {
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
}

.titleGeneratorContainer {
    width: 100vw;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    padding: 0px 80px;
}

.titleGeneratorContainerScroll::-webkit-scrollbar {
    display: block;
    width: 6px;
    background-color: transparent;
    border-radius: 10px;
    overflow: visible;
}

.titleGeneratorContainerScroll::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 100px;
}

.titleGeneratorContainer .head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleGeneratorContainer .head svg {
    width: 25px;
    height: 25px;
}

.titleGeneratorContainer .head h1 {
    margin-top: 30px;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
}

.titleGeneratorContainer .head p {
    margin-top: 20px;
    font-size: 20px;
    width: 70%;
    text-align: center;
}

.titleGeneratorContainer .head .divider {
    margin-top: 30px;
    width: 80px;
    border: 0.5px solid #000;
    align-self: center;
}

.titleGeneratorContainer .head .links {
    margin-top: 30px;
    align-self: center;
    display: flex;
    align-items: center;
    gap: 20px;
}

.titleGeneratorContainer .contentGenerator {
    width: 100%;
    max-width: 960px;
    align-self: center;
    background-color: #fff;
    margin-top: 45px;
    display: flex;
    position: relative;
}

.titleGeneratorContainer .contentGenerator .imageWrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    filter: blur(25px);
    mix-blend-mode: multiply;
    overflow: hidden;
    z-index: 0;
}

.titleGeneratorContainer .contentGenerator .imageWrapper img {
    filter: blur(25px);
    mix-blend-mode: multiply;
    object-fit: cover;
    opacity: 0.3;
}


.titleGeneratorContainer .contentGenerator .contentWrapper {
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1;
    border: 1px solid #DCDCDC;
    border-radius: 25px;
    display: flex;
}


.titleGeneratorContainer .contentGenerator h2 {
    font-size: 18px;
    font-weight: 600;
}

.titleGeneratorContainer .contentGenerator .leftSide {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 280px;
    min-width: 280px;
    background-color: #FAFAFA;
    border-radius: 25px 0px 0px 25px;
    padding: 40px 20px;
}

.titleGeneratorContainer .contentGenerator .leftSide .inputWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.titleGeneratorContainer .contentGenerator .leftSide .inputWrapper label {
    font-size: 14px;
    font-weight: 600;
}

.titleGeneratorContainer .contentGenerator .leftSide .inputWrapper span {
    font-size: 10px;
    margin-top: 5px;
}

.titleGeneratorContainer .contentGenerator .leftSide .inputWrapper textarea {
    margin-top: 10px;
    height: 145px;
    resize: none;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #DCDCDC;
}

.titleGeneratorContainer .contentGenerator .leftSide .inputWrapper select {
    margin-top: 10px;
    height: 45px;
    padding: 0px 10px;
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    font-size: 14px;
    background: url(../public/Assets/downArrow1.svg) 95% center no-repeat #ffffff !important;
    -moz-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}

.titleGeneratorContainer .contentGenerator .leftSide button {
    margin-top: 30px;
    width: 100%;
    height: 47px;
    background-color: #0078FF;
    border-radius: 25px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.titleGeneratorContainer .contentGenerator .leftSide .info {
    margin-top: 10px;
    font-size: 10px;
    color: #808080;
    text-align: center;
}

.titleGeneratorContainer .contentGenerator .leftSide .info a {
    color: #808080;
    text-decoration: none;
}

.titleGeneratorContainer .contentGenerator .leftSide .info a:hover {
    color: blue;
    text-decoration: underline
}

.titleGeneratorContainer .contentGenerator .rightSide {
    padding-top: 55px;
    padding-left: 80px;
    padding-right: 40px;
}

.titleGeneratorContainer .contentGenerator .rightSide .card {
    display: flex;
    position: relative;
}

.titleGeneratorContainer .contentGenerator .rightSide .card .circle {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color: rgba(127, 17, 224, 0.07);
    position: absolute;
    right: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.titleGeneratorContainer .contentGenerator .rightSide p {
    font-size: 14px;
    max-width: 440px;
    line-height: 180%;
    letter-spacing: 0.02em;
}

.titleGeneratorContainer .contentGenerator .rightSide a {
    display: block;
    font-size: 14px;
    margin-top: 20px;
    font-weight: 600;
    text-decoration: none;
    color: #0078FF;
    display: flex;
    align-items: center;
}

.titleGeneratorContainer .contentGenerator .rightSide a:hover {
    text-decoration: underline;
}

.titleGeneratorContainer .contentGenerator .rightSide a svg {
    margin-left: 5px;
}

.titleGeneratorContainer .contentGenerator .loader {
    display: block;
    border: 3px solid #f3f3f3;
    border-top: 3px solid #0078FF;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    min-width: 25px;
    min-height: 25px;
    animation: spin 1s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1000px) {
    .titleGeneratorContainer .contentGenerator .rightSide {
        padding-top: 55px;
        padding-left: 20px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 800px) {
    .titleGeneratorContainer .contentGenerator {
        flex-direction: column;
        min-width: 300px;
        width: 100%;
        max-width: 100%;
    }

    .titleGeneratorContainer .contentGenerator .contentWrapper {
        flex-direction: column;
    }

    .titleGeneratorContainer .contentGenerator .leftSide {
        width: 100%;
        max-width: 100%;
        min-width: 300px;
        border-radius: 25px 25px 25px 25px;
        padding: 40px 20px;
    }

    .titleGeneratorContainer .contentGenerator .rightSide {
        padding: 40px 20px;
    }

    .titleGeneratorContainer .contentGenerator .rightSide .card {
        flex-direction: column;
        width: 100%;
    }

    .titleGeneratorContainer .contentGenerator .rightSide p {
        font-size: 14px;
        max-width: 100%;
        line-height: 180%;
        letter-spacing: 0.02em;
    }

    .titleGeneratorContainer .contentGenerator .rightSide .card .circle {
        margin-top: 10px;
        position: unset;
    }
}

@media screen and (max-width: 650px) {
    .titleGeneratorContainer {
        padding: 0px 20px;
    }

    .titleGeneratorContainer .head h1 {
        font-size: 26px;
        width: 100%;
    }

    .titleGeneratorContainer .head p {
        font-size: 16px;
        width: 100%;
    }
}